.row>.card {
    padding-left: 0;
    padding-right: 0;
}

.sticky-header-container.fix-sticky.fixed-table-container {
    margin-top: 56px;
}

.form-check .select-all {
    float: left;
    margin-left: -1.5em;
}

.select-all {
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.select-all[type=checkbox] {
    border-radius: 0.25em;
}

.select-all:active {
    filter: brightness(90%);
}

.select-all:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.select-all:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.select-all:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.select-all:checked[type=radio] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}

.select-all[type=checkbox]:indeterminate {
    background-color: #0d6efd;
    border-color: #0d6efd;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}

.select-all:disabled {
    pointer-events: none;
    filter: none;
    opacity: 0.5;
}


/*Topbar search and Search results page styles */

#term{
    background: bisque;
    padding: 3px;
    border-radius: 5px;
}

#results-response {
    font-size: 18px;
    background: white;
    padding: 20px;
  }

  .result-header{
    font-size:20px;
    font-weight: 600;
  }

  #search-results {
    position: absolute;
    top: 50px;
    color: black;   
    width:100%;         
}

#mini_search_results{
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    width:initial;
    padding:10px 5px;
}

.prod-img{
    object-fit: scale-down;
    width: 100%;
}

/* Table headers */
.bootstrap-table .fixed-table-container .table thead th{
    vertical-align: top !important;
}

label[for="id_date_range_with_predefined_ranges"]{
    display: none !important;
}

.dataTables_wrapper .dataTables_filter input{
    margin-bottom: 20px !important;
}


.dt-buttons{
    display: inline !important;
}

table.data-table thead td{
    width:0;
}

.data-table input{
    width: 100%;
}


th, td {
    white-space: nowrap !important;
    text-align: center;
  }

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background:#0d6efd !important;
    color: #fff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #6c757d !important;
    border: 1px solid #6c757d !important;
}