{% extends 'dashboard_base.html' %}
{% load dashboard_tags %}
{% load static %}
{% load thumbnail %}
{% block title %}
Προϊόντα
{% endblock %}

{% block headEnd %}


{% endblock %}
{% block main %}
    <h1 class='mb-4'>Ολα τα προϊόντα</h1>

    <div class="row pt-lg-5">
        <div class="col-xl-6">
                <div class='card mb-4'>
                    <div class='card-header'>
                        <i class='fas fa-chart-pie me-1'></i>
                        Κατάσταση τιμών καταστημάτων
                    </div>
                    <div class='card-body'><canvas id='myPieChart' width='100%' height='50'></canvas></div>
                    <div class='card-footer small text-muted'>Τελευταία ενημέρωση {{ latest_timestamp }}</div>
                </div>
        </div>
        <div class='col-xl-6'>
            <div class="card mb-4">
            {% lorem 1 p random %}
            </div>
        </div>
    </div>

    <div class="row pt-lg-5">
        <div class='card mb-4'>
            <div class='card-header mb-4'>
                <i class='fas fa-table me-1'></i>
                Όλα τα προϊόντα
            </div>
                <table id='all-products-table' class=''
                data-show-columns="true"
                data-toggle="table"
                data-toggle="table"
                data-pagination="true"
                data-search="true"
                >
                    <thead>
                        <tr>
                            <th>Φωτογραφία</th>
                            <th class='add_select'>Active</th>
                            <th class='add_select'>Κατασκευαστής</th>
                            <th>Μοντέλο</th>
                            <th>MAP Price</th>
                            <th>Key Acc Price</th>
                            <th># Καταστημάτων</th>
                            <th>Κατ. below</th>
                            <th>Κατ. equal</th>
                            <th>Κατ. above</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                    <tr>
                        <td>
                            {% thumbnail product.image table_image_size as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{product.name}}">
                            {% endthumbnail %}
                        </td>
                        <td>
                            {{product.active}}
                        </td>
                        <td>
                            <a href="{% url 'product_info' product.id %}">
                                {{product.manufacturer}}
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'product_info' product.id %}">
                                {{product.model}}
                            </a>
                        </td>
                        <td>
                            {{product.map_price}}
                        </td>
                        <td>
                            {{product.key_acc_price}}
                        </td>
                        <td>
                            {{product.shop_count}}
                        </td>
                        <td>
                            {{product.shops_below}}
                        </td>
                        <td>
                            {{product.shops_equal}}
                        </td>
                        <td>
                            {{product.shops_above}}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>

    <div class="row pt-lg-5">
        <div class='card mb-4'>
            <div class='card-header mb-4'>
                <i class='fas fa-table me-1'></i>
                Τελευταίες τιμές όλων των ενεργών προϊόντων
            </div>
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="print-selector" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown button
                </button>
                <ul class="dropdown-menu" aria-labelledby="print-selector" id="print-dropdown">
                  <li><a class="dropdown-item" area-value="" href="#">Εξαγωγή σελίδας</a></li>
                  <li><a class="dropdown-item" area-value="all" href="#">Εξαγωγή όλων</a></li>
                  <li><a class="dropdown-item" area-value="selected" href="#">Εξαγωγή επιλεγμένων</a></li>
                </ul>
              </div>

                <table id='all-products-prices-table' class=''
                    data-toggle="table"
                    data-show-columns="true"
                    data-show-columns-toggle-all="true"
                    data-pagination="true"
                    data-show-toggle="true"
                    data-show-fullscreen="true"
                    data-buttons="buttons"
                    data-buttons-align="left"
                    data-buttons-class="primary"
                    data-pagination-v-align="both"
                    data-remember-order="true"
                    data-sort-reset="true"
                    data-filter-control="true"
                    data-show-search-clear-button="true"
                    data-show-multi-sort="true"
                    data-show-export="true"
                    data-show-print="true"
                    data-sticky-header="true"
                    >
                    <!--data-search-highlight use for highlight individual column search-->
                    <thead>
                    <tr class="bg-light">
                        <th>Φωτογραφία</th>
                        <th data-sortable="true" data-field="manufacturer" data-filter-control="select">Κατασκευαστής</th>
                        <th data-sortable="true" data-field="model" data-filter-control="input">Μοντέλο</th>
                        <th data-sortable="true" data-field="shop" data-filter-control="input">Κατάστημα</th>
                        <th data-sortable="true">Τιμή</th>
                        <th data-sortable="true">Target Price</th>
                        <th data-sortable="true">Diff</th>
                        <th data-sortable="true">Diff %</th>
                        <th data-sortable="true" data-field="official_reseller" data-filter-control="select">Επ. Μεταπωλητής</th>
                        <th data-sortable="true" data-field="seller" data-filter-control="select">Πωλητής</th>
                        <th data-sortable="true">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for retailprice in retailprices %}
                        {% if retailprice.product.active %}
                            <tr>
                                <td>
                                    {% comment %} {{ retailprice.product.image.url|datalize }} {% endcomment %}
                                    {% thumbnail retailprice.product.image table_image_size as im %}
                                        <img src="{{ im.url }}" aria-src="{{ im.url|datalize }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{retailprice.product.name}}" class="prod-img">
                                    {% endthumbnail %}
                                    
                                </td>
                                <td>
                                    <a href="{% url 'product_info' retailprice.product.id %}">
                                        {{retailprice.product.manufacturer}}
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'product_info' retailprice.product.id %}">
                                        {{retailprice.product.model}}
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'shop_info' retailprice.shop.id %}">{{retailprice.shop}}</a>
                                </td>
                                <td>
                                    {{retailprice.price}}
                                </td>
                                <td>
                                    {{retailprice.curr_target_price}}
                                </td>
                                <td>
                                    {% if retailprice.price|sub:retailprice.curr_target_price < 0 %}
                                        <p class='text-danger'>{{retailprice.price|sub:retailprice.curr_target_price}}</p>
                                    {% elif retailprice.price|sub:retailprice.curr_target_price > 0 %}
                                        <p class='text-success'>{{retailprice.price|sub:retailprice.curr_target_price}}</p>
                                    {% else %}
                                        <p class='text-black'>{{retailprice.price|sub:retailprice.curr_target_price}}</p>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if retailprice.price|ch_sub:retailprice.curr_target_price < 0 %}
                                        <p class='text-danger'>{{retailprice.price|ch_sub:retailprice.curr_target_price}}</p>
                                    {% elif retailprice.price|sub:retailprice.curr_target_price > 0 %}
                                        <p class='text-success'>{{retailprice.price|ch_sub:retailprice.curr_target_price}}</p>
                                    {% else %}
                                        <p class='text-black'>{{retailprice.price|ch_sub:retailprice.curr_target_price}}</p>
                                    {% endif %}
                                </td>
                                <td>{% if retailprice.official_reseller == False %}
                                        <p class='text-danger'>Όχι</p>
                                    {% else %}
                                        <p class='text-success'>Ναι</p>
                                    {% endif %}
                                </td>
                                <td>Seller</td>
                                <td>{{retailprice.timestamp}}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>

    <script>
        // Pie Chart Example
        var ctx = document.getElementById('myPieChart');
        var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Κάτω', 'Ακριβώς', 'Πάνω'],
            datasets: [{
            data: [{{products_below}}, {{products_equal}}, {{products_above}}],
            backgroundColor: ['#dc3545', '#28a745', '#007bff'],
            }],
        },
        });

        // Table export
        var $table = $('#all-products-prices-table');

        $(function() {
            $('#print-dropdown').find('.dropdown-item').on('click', function (e) {
                e.preventDefault();
                data = {};
                if (e.target.attributes['area-value'].value == 'selected'){
                    data = {
                        field: 'state',
                        checkbox: true,
                        visible: $(this).attr('area-value') === 'selected'
                    };
                }
                $table.bootstrapTable('destroy').bootstrapTable({
                    exportDataType: $(this).attr('area-value'),
                    exportTypes: ['csv', 'txt', 'excel', 'pdf'],
                    columns: [
                        data,
                    ]
                })
                }).trigger('change')
        });

    
    
    </script>

    {% endblock %}