{% extends 'dashboard_base.html' %}
{% load dashboard_tags %}
{% load static %}
{% load thumbnail %}
{% block title %}
Προϊόντα
{% endblock %}

{% block headEnd %}

{% endblock %}

{% block main %}
    <h1 class='mb-4'>Όλα τα προϊόντα</h1>
    {% if data_exists %}

    <div class="row">
        <div class="col-xl-6">
            <div class='card mb-4 h-100'>
                <div class='card-header'>
                    <i class='fas fa-chart-pie me-1'></i>
                    Κατάσταση τιμών καταστημάτων
                </div>
                <div class="card-body align-items-center d-flex" d-flex style="height:500px;"><canvas id="myPieChart" width="100%" height="50"></canvas></div>
                <div class='card-footer small text-muted'>Τελευταία ενημέρωση {{ latest_timestamp }}</div>
                <div class='card-footer small text-muted'>Στο παραπάνω γράφημα απεικονίζονται ο αριθμός των τιμών από όλα τα ενεργά προϊόντα, από όλα τα καταστήματα, την τελευταία φορά που τα βρήκαμε ανάλογα με το εάν είναι κάτω, ίσα ή πάνω από την τιμή στόχου.</div>
            </div>
        </div>
    </div>

    <div class="row pt-lg-5">
        <div class='card mb-4'>
            <div class='card-header mb-4'>
                <i class='fas fa-table me-1'></i>
                Όλα τα προϊόντα
            </div>
                <div class="card-body overflow-auto">
                   <table id='table_1' class="data-table display">
                        <thead>
                            <tr class="bg-light">
                                <th>Φωτογραφία</th>
                                <th class="select-filter">Ενεργό</th>
                                <th class="text-filter">Μοντέλο</th>
                                <th class="select-filter">Κατασκ.</th>
                                <th class="select-filter">Κατηγορία</th>
                                <th class="text-filter">SKU</th>
                                <th>Τιμή MAP</th>
                                <th># Καταστημάτων</th>
                                <th>Κατ. Κάτω</th>
                                <th>Κατ. Ίσα</th>
                                <th>Κατ. Πάνω</th>
                            </tr>
                            <tr class="bg-light head-filters">
                                <th class="no-filter">Φωτογραφία</th>
                                <th class="select">Ενεργό</th>
                                <th class="text">Μοντέλο</th>
                                <th class="select">Κατασκ.</th>
                                <th class="select">Κατηγορία</th>
                                <th class="text">SKU</th>
                                <th class="no-filter">Τιμή MAP</th>
                                <th class="no-filter"># Καταστημάτων</th>
                                <th class="no-filter">Κατ. Κάτω</th>
                                <th class="no-filter">Κατ. Ίσα</th>
                                <th class="no-filter">Κατ. Πάνω</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                        <tr>
                            <td>
                                {% comment %} <a href="{% url 'product_info' product.id %}">
                                {% thumbnail product.image table_image_size as im %}
                                    <img src="{{ im.url }}" aria-src="{{ im.url|datalize }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{product.model}}" class="prod-img">
                                    {% endthumbnail %}
                                </a> {% endcomment %}
                                <a href="{% url 'product_info' product.id %}">
                                    <img src="{{product.product_image}}" aria-src="{{ product.product_image|datalize }}" alt="{{product.model}}" loading="lazy" class="product_image">
                                </a>
                            </td>
                            <td>
                                {{product.is_active}}
                            </td>
                            <td>
                                <a href="{% url 'product_info' product.id %}" class="link-dark">
                                    {{product.model}}
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'manufacturer_info' product.manufacturer_id %}" class="link-dark">
                                    {{product.manufacturer.name}}
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'category_info' product.main_category_id %}" class="link-dark">
                                    {{product.main_category.name}}
                                </a>
                            </td>
                            <td>
                                {{product.sku}}
                            </td>
                            <td>
                                {{product.map_price}} €
                            </td>
                            <td>
                                {{product.shop_count}}
                            </td>
                            <td>
                                {{product.shops_below}}
                            </td>
                            <td>
                                {{product.shops_equal}}
                            </td>
                            <td>
                                {{product.shops_above}}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
        </div>
    </div>

    <div class="row pt-lg-5">
        <div class='card mb-4'>
            <div class='card-header mb-4'>
                <i class='fas fa-table me-1'></i>
                Τελευταίες τιμές όλων των ενεργών προϊόντων
            </div>
            <div class="card-body overflow-auto">

                {% comment %} <div class="row"> {% endcomment %}
                    <form name="date_range" id="price-picker-form" hx-post="/all_products_table_filter/" hx-trigger="submit" hx-swap="none" hx-target-error="error_notice">
                        <div class="row">
                            <p>Επιλέξτε ημερομηνίες και ώρες. Αφήστε το πεδίο της ημερομηνίας κενό ή διαγράψτε το περιεχόμενό του για να δείτε την τελευταία διαθέσιμη πληροφορία για κάθε κατάστημα.</p>
                            <p>Επιλέξτε καταστήματα και κατηγορίες προϊόντων που σας ενδιαφέρουν.</p>
                            <p>Πατήστε 'Υποβολή' για να ανανεωθεί ο πίνακας τιμών.</p>
                            <div class="col-lg-12">
                                <div class="m-2 d-inline-block">
                                    {{date_picker}}
                                </div>
                                <div class="dropdown m-2 d-inline-block">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="CategorySelectDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                      Επιλέξτε Κατηγορίες
                                    </button>
                                    <ul class="dropdown-menu overflow-auto p-0" style="max-height:300px;" aria-labelledby="CategorySelectDropdown">
                                        <div class="search sticky-top p-1 w-100 bg-white">
                                            <input type="text" class="form-control" placeholder="Αναζήτηση" id="category_search">
                                        </div>
                                        <li class="p-2 dropdown-category">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="select-all" name="select_all" type="checkbox" value="Επιλογή Όλων" id="CategorySelectAllCheckbox">
                                                    Επιλογή Όλων
                                                </label>
                                            </div>
                                        </li>
                                        {% for category in categories %}
                                        <li class="p-2 dropdown-category">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input category-form-check-input" name="{{category}}" type="checkbox" value="{{category.id}}" id="CategorySelectCheckbox{{ forloop.counter0 }}">
                                                    {{category}}
                                                </label>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="dropdown m-2 d-inline-block">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="ShopSelectDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                      Επιλέξτε Καταστήματα
                                    </button>
                                    <ul class="dropdown-menu overflow-auto p-0" style="max-height:300px;" aria-labelledby="ShopSelectDropdown">
                                        <div class="search sticky-top p-1 w-100 bg-white">
                                            <input type="text" class="form-control" placeholder="Αναζήτηση" id="shop_search">
                                        </div>
                                        <li class="p-2 dropdown-shop">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="select-all" name="select_all" type="checkbox" value="Επιλογή Όλων" id="ShopSelectAllCheckbox">
                                                    Επιλογή Όλων
                                                </label>
                                            </div>
                                        </li>
                                        {% for shop in shops %}
                                        <li class="p-2 dropdown-shop">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input shop-form-check-input" name="{{shop.shop_name}}" type="checkbox" value="{{shop.shop_id}}" id="ShopSelectCheckbox{{ forloop.counter0 }}">
                                                    {{shop.shop_name}}
                                                </label>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <button class="btn btn-primary ms-3" type="submit" value="Submit" style="width:auto;"><i class="fa-solid fa-paper-plane"></i> Υποβολή</button>
                                <div style="display:none;" class="mt-2 text-danger" id="error_notice"></div> <!-- errors go here -->
                            </div>
                        </div>
                    </form>
                {% comment %} </div> {% endcomment %}

                <div class="form-check form-switch only-below-switch mb-2 ms-2">
                    <input class="form-check-input" type="checkbox" name="only-below" id="only-below-checkbox">
                    <label class="form-check-label fw-bold" for="only-below-checkbox">Μόνο γραμμές με πρόβλημα</label>
                </div>

                <table id='table_2' class="data-table display">
                    <!--data-search-highlight use for highlight individual column search-->
                    <thead>
                        <tr class="bg-light">
                            <th>Φωτογραφία</th>
                            <th class="text-filter">Μοντέλο</th>
                            <th class="select-filter">Κατασκ.</th>
                            <th class="select-filter">Κατηγορία</th>
                            <th class="text-filter">SKU</th>
                            <th class="text-filter">Κατάστημα</th>
                            <th>Τιμή</th>
                            <th>Τιμή MAP</th>
                            <th>Διαφ.</th>
                            <th>Διαφ. %</th>
                            <th class="select-filter">Πηγή</th>
                            <th class="select-filter">Key Account</th>
                            <th class="select-filter">Επ. Μεταπωλ.</th>
                            {% if not seller_flag %}
                            <th class="select-filter">Πωλητής</th>
                            {% endif %}
                            <th>Ημερομηνία</th>
                        </tr>

                        <tr class="bg-light head-filters">
                            <th class="no-filter">Φωτογραφία</th>
                            <th class="text">Μοντέλο</th>
                            <th class="select">Κατασκ.</th>
                            <th class="select">Κατηγορία</th>
                            <th class="text">SKU</th>
                            <th class="text">Κατάστημα</th>
                            <th class="no-filter">Τιμή</th>
                            <th class="no-filter">Τιμή MAP</th>
                            <th class="no-filter">Διαφ.</th>
                            <th class="no-filter">Διαφ. %</th>
                            <th class="select">Πηγή</th>
                            <th class="select">Key Account</th>
                            <th class="select">Επ. Μεταπωλ.</th>
                            {% if not seller_flag %}
                            <th class="select">Πωλητής</th>
                            {% endif %}
                            <th class="no-filter">Ημερομηνία</th>
                            {% comment %} <th class="date-filter"><div id="reportrange" class="btn btn-secondary"> <span></span> <b class="caret"></b></div></th> {% endcomment %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for retail_price in retail_prices %}
                        {% if retail_price.product.active %}
                        {% if retail_price.price|sub:retail_price.curr_target_price < 0 %}
                            <tr class="bg-danger" style="--bs-bg-opacity: .1;">
                        {% else %}
                            <tr>
                        {% endif %}
                                <td>
                                    <a href="{% url 'product_info' retail_price.product_id %}">
                                        <img src="{{retail_price.product_image}}" aria-src="{{ retail_price.product_image|datalize }}" alt="{{retail_price.product}}" loading="lazy" class="product_image">
                                    </a>

                                </td>
                                <td>
                                    <a href="{% url 'product_info' retail_price.product_id %}" class="link-dark">
                                        {{retail_price.product_model}}
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'manufacturer_info' retail_price.product.manufacturer_id %}" class="link-dark">
                                        {{retail_price.product_manufacturer}}
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'category_info' retail_price.product.main_category_id %}" class="link-dark">
                                        {{retail_price.product_category}}
                                    </a>
                                </td>
                                <td>
                                    {{retail_price.product_sku}}
                                </td>
                                <td>
                                    <a href="{% url 'shop_info' retail_price.shop_id %}" class="link-dark">{{retail_price.shop_name}}</a>
                                </td>
                                <td>
                                    {{retail_price.price}} €
                                </td>
                                <td>
                                    {{retail_price.curr_target_price}} €
                                </td>
                                {% if retail_price.price|sub:retail_price.curr_target_price < 0 %}
                                <td class="danger-text">
                                        <p class='text-danger'>{{retail_price.price|sub:retail_price.curr_target_price}} €</p>
                                    {% elif retail_price.price|sub:retail_price.curr_target_price > 0 %}
                                    <td class="success-text">
                                        <p class='text-success'>{{retail_price.price|sub:retail_price.curr_target_price}} €</p>
                                    {% else %}
                                    <td>
                                        <p class='text-black'>{{retail_price.price|sub:retail_price.curr_target_price}} €</p>
                                    {% endif %}
                                </td>
                                {% if retail_price.price|ch_sub:retail_price.curr_target_price < 0 %}
                                <td class="danger-text">
                                        <p class='text-danger'>{{retail_price.price|ch_sub:retail_price.curr_target_price}} %</p>
                                    {% elif retail_price.price|sub:retail_price.curr_target_price > 0 %}
                                    <td class="success-text">
                                        <p class='text-success'>{{retail_price.price|ch_sub:retail_price.curr_target_price}} %</p>
                                    {% else %}
                                    <td>
                                        <p class='text-black'>{{retail_price.price|ch_sub:retail_price.curr_target_price}} %</p>
                                    {% endif %}
                                </td>
                                <td>
                                    {{retail_price.source_domain}}
                                </td>
                                <td>
                                    {{retail_price.shop.is_key_account}}
                                </td>
                                <td>
                                    {{ retail_price.is_shop_official_reseller }}
                                </td>
                                {% if not seller_flag %}
                                <td>
                                    {% firstof retail_price.shop_seller_last_name '-' %}
                                    {% comment %} {% if retail_price.shop_seller %}
                                        {{retail_price.shop_seller_last_name}}
                                    {% else %}
                                        -
                                    {% endif %} {% endcomment %}
                                </td>
                                {% endif %}
                                <td>{{retail_price.timestamp|date:"d/m/Y, H:i"}}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
    </div>

    <script>
        // Pie Chart
        var ctx = document.getElementById('myPieChart');
        var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Κάτω', 'Ακριβώς', 'Πάνω'],
            datasets: [{
            data: [{{products_below}}, {{products_equal}}, {{products_above}}],
            backgroundColor: ['#dc3545', '#28a745', '#007bff'],
            }],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
        }
        });
                                            //TABLE 1
////////////////////////////////////////////////////////////////////////////////////////////////////////////
$(document).ready(function() {
    //add text input filters to second row in the thead if th has class text, or nothing if class is no-filter
    $('#table_1 tr.head-filters th').each( function (i) {
        var title = $('#table_1 thead th').eq( $(this).index() ).text();
        if ( $(this).hasClass('text') ){
            $(this).html( '<input type="text" class="form-control" placeholder="'+title+'" data-index="'+i+'" />' );
        } else if ( $(this).hasClass('no-filter')){
            $(this).html('');
        }
    } );

    //make excluding img col from export dynamic. columns is also used to find the date column dynamically.
  columns = document.getElementById('table_1').rows[0].cells.length;
  export_cols = [];
  exclude_cols = [0];
  for(i=0; i < columns; i++){
    if(! exclude_cols.includes(i)){
        export_cols.push(i);
    }
  }
  //initialise data table
    table_1 = $('#table_1').DataTable({
        order: [[3, 'asc'],[2, 'asc']],
        dom: 'Bfplrtipl',
        info:true,
        searching: true,
        language: {
            search: "Αναζήτηση: ",
            paginate:{
                previous: "&lt;",
                next: "&gt;",
            },
            info: "Σελίδα _PAGE_ από _PAGES_",
            lengthMenu: "Εμφάνιση _MENU_ γραμμών",
            infoFiltered: " - φιλτραρισμένο από _MAX_ γραμμές",
          },
        paging: true,
        responsive: true,
        buttons: [
            {
                // Save as PDF button
                // TODO Check margins, add datetime of export, fix title in pdf, check file name
                extend: 'pdf',
                text: 'PDF',
                className: 'btn btn-secondary',
                orientation: 'landscape',
                pageSize: 'A4',
                exportOptions: {
                    format: {
                        body: function ( inner, coldex, rowdex ) {
                          if (inner.length <= 0) return inner;
                          var el = $.parseHTML(inner);
                          var result='';
                          $.each( el, function (index, item) {
                              if (item.nodeName == '#text') {
                                  result += item.textContent;
                            }
                            else if (item.nodeName == 'STRONG'){
                                result += item.outerHTML;
                            }
                            else if (item.nodeName == 'A'){
                                nodes = item.childNodes;
                                is_image = false;
                                for(elem of nodes.values()){
                                    if (typeof elem.attributes !== 'undefined' && elem.hasAttribute('aria-src')){
                                        image = elem.getAttribute('aria-src').trim();
                                        result += image;
                                        is_image = true;
                                    }
                                }
                                if(! is_image){
                                    result += item.outerHTML;
                                }
                            }
                            else {
                                result += item.outerHTML;
                            }
                          });
                          return result;
                        }
                      },
                      modifier: {
                    },
                },
                customize: function(doc){
                    doc.content[1].table.dontBreakRows = true;
                    doc.pageMargins = [ 1,1,1,1 ];
                    doc.styles.tableHeader = {
                        alignment: "center",
                        bold: true,
                        color: "white",
                        fillColor: "#2d4154",
                        fontSize: 8,
                    };
                    doc.styles.redcelleven = {
                        color: '#dc3545',
                        fillColor: '#fceaec',
                    };
                    doc.styles.redcellodd = {
                        color: '#dc3545',
                        fillColor: '#e2d2d4',
                    };
                    doc.styles.redroweven = {
                        fillColor: '#fceaec',
                    };
                    doc.styles.redrowodd = {
                        fillColor: '#e2d2d4',
                    };
                    doc.defaultStyle.fontSize = 8;
                    var photo_index = 0;
                    for(i = 0; i < doc.content[1].table.body[0].length; i++){
                        if (doc.content[1].table.body[0][i].text == 'Φωτογραφία'){
                            photo_index = i;
                            break;
                        }
                    }
                    for(j = 1; j < doc.content[1].table.body.length; j++){
                        red_row = false;
                        red_cell = false;
                        doc.content[1].table.body[j][photo_index] = {
                            image: doc.content[1].table.body[j][photo_index].text,
                            width: 50,
                        }
                        for(z = 1; z < doc.content[1].table.body[j].length; z++){
                            if(z != photo_index){
                                if(typeof doc.content[1].table.body[j][z].text !== 'undefined' && doc.content[1].table.body[j][z].text != 'undefined'){
                                    if(doc.content[1].table.body[j][z].text.includes('text-danger')){
                                        red_row = true;
                                        if(j % 2 == 0){
                                            doc.content[1].table.body[j][z].style = 'redcelleven';
                                        } else {
                                            doc.content[1].table.body[j][z].style = 'redcellodd';
                                        }
                                    }
                                    let reg = /<\/?.+?\/?>/g;
                                    new_value = doc.content[1].table.body[j][z].text.replace(reg, '').trim();
                                    doc.content[1].table.body[j][z].text = new_value;
                                }
                            }
                        }
                        if(red_row){
                            for(z = 1; z < doc.content[1].table.body[j].length; z++){
                                if(doc.content[1].table.body[j][z].style != 'redcellodd' && doc.content[1].table.body[j][z].style != 'redcelleven' ){
                                    if(j % 2 == 0){
                                        doc.content[1].table.body[j][z].style = 'redroweven';
                                    }else {
                                        doc.content[1].table.body[j][z].style = 'redrowodd';
                                    }
                                }
                            }
                        }
                    }
                },
            },
            {
                extend:'excel',
                className: 'btn btn-secondary',
                text:'Excel',
                exportOptions: {
                    columns: export_cols,
                    stripHtml: true,
                    },
            },
            {
                extend:'csv',
                className: 'btn btn-secondary',
                exportOptions:{
                    columns: export_cols, //columns we want to exclude (look at the start of the script)
                }
            },
            //customise print button
            {
                extend: 'print',
                text: 'Εκτύπωση',
                className: 'btn btn-secondary',
                orientation: 'landscape',
                exportOptions: {
                    stripHtml: false,
                    //function to keep images and other html tags
                    format: {
                        body: function ( inner, coldex, rowdex ) {
                          if (inner.length <= 0) return inner;
                          var el = $.parseHTML(inner);
                          var result='';
                          $.each( el, function (index, item) {
                            if (item.nodeName == '#text') {
                                if (item.textContent !== 'undefined'){
                                    result += item.textContent;
                                } else {
                                    result += item.nextSibling.innerText;
                                }
                            }
                            else if (item.nodeName == 'STRONG'){
                                result += item.outerHTML;
                            }
                            else if (item.nodeName == 'A'){
                                result += item.outerHTML;
                            }
                            else {
                                result += item.innerText;
                            }
                          });
                          return result;
                        }
                      },
                    },
                    //customise print output
                    //function gives us three params, the window that will be printed, the print button object, and the data_tables api object
                    //using jquery we force the document to print background colors, get all the rows that are colored red in the original document(.bg-danger) and pass that color to the rows in the print document, give some styling to the header, and fix some text styling issues.
                customize: function(window, print_btn_object, api){
                    rows = api.rows({search:'applied'}).nodes();
                    columns = api.columns({search:'applied'}).nodes();
                    cells = api.cells('.danger-text', {search:'applied'});
                    $(window.document.body).css('webkit-print-color-adjust', 'exact');
                    $(window.document.body).css('print-color-adjust', 'exact');
                    table = $(window.document.body).find('table');
                    table_head = table.find('thead');
                    table_head.css('background-color', '#F8F9FA');
                    table_body = table.find('tbody');
                    trs = table_body.find('tr');
                    tds = table_body.find('td');
                    table.find('th').css('white-space', 'nowrap');
                    $.each(rows, function(index, item){
                        if (item.classList.contains('bg-danger')){
                            $(trs[index]).css('background-color', '#FCEAEC');
                        }
                        $.each(item.cells, function(indx, td){
                            if (td.classList.contains('danger-text')){
                                $(trs[index].cells[indx]).css('color', '#ff0000');
                            } else if (td.classList.contains('success-text')){
                                $(trs[index].cells[indx]).css('color', '#198754');
                            }
                        });
                    });
                },
            },
            {
                extend:'copy',
                className: 'btn btn-secondary',
                text: 'Αντιγραφή',
            },
        ],
        orderCellsTop: true,
        fixedColumns:   true,
        //add select filters where we have select-filter class on the first th row of the thead.
        initComplete: function(){
            this.api()
            .columns('.select-filter')
            .every(function () {
                    var column = this;
                    var select = $('<select class="form-select"><option value=""></option></select>').appendTo($("#table_1 thead tr:eq(1) th").eq(column.index()).empty()).on('change', function () {
                            var val = $(this).val();
                            column.search(val ? val : '', false, true).draw();
                        });
                    column
                        .data()
                        .unique()
                        .sort()
                        .each(function (d, j) {
                            let reg = /<\/?.+?\/?>/g;
                            new_value = d.replace(reg, '').trim();
                            select.append('<option value="' + new_value + '">' + new_value + '</option>');
                        });
                });
            },
    });



    // Filter event handler
    //if table is undefined, refresh the page.
    $( table_1.table().container() ).on( 'keyup', 'thead input', function () {
        table_1.column( $(this).data('index') ).search( this.value ).draw();
    } );

/*DATERANGEPICKER START*/
/*$(function() {
    var start = moment("2022-01-01 12:34:16");
    var the_end = '{{daterange_timestamp}}';
    var end = moment(the_end);

    function cb() {
      $('#reportrange span').html('Επιλέξτε ημερομηνία');
    }

    $('#reportrange').daterangepicker({
      startDate: moment().subtract(6, 'days'),
      endDate: moment(),
      alwaysShowCalendars: true,
      ranges: {
        'Σήμερα': [moment(), moment()],
        'Χθές': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
        '7 προηγούμενες ημέρες': [moment().subtract(6, 'days'), moment()],
        '30 προηγούμενες ημέρες': [moment().subtract(29, 'days'), moment()],
        'Τρέχων μήνας': [moment().startOf('month'), moment().endOf('month')],
        'Προηγούμενος μήνας': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
      },
      locale:{
          format:"D/M/YYYY",
      },
    }, cb);

    cb();

  });*/
} );


//TABLE 2
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    $(document).ready(function() {
        //table_2 configuration
        {% if not seller_flag %}
            date_column_sort = 14;
        {% else%}
            date_column_sort = 13;
        {% endif %}
        config = {
            order: [[date_column_sort, 'desc'],[3, 'asc'],[2, 'asc'],[1, 'asc'],[6, 'asc']],
            dom: 'Bfplrtipl',
            info:true,
            searching: true,
            language: {
                search: "Αναζήτηση: ",
                paginate:{
                    previous: "&lt;",
                    next: "&gt;",
                },
                info: "Σελίδα _PAGE_ από _PAGES_",
                lengthMenu: "Εμφάνιση _MENU_ γραμμών",
                infoFiltered: " - φιλτραρισμένο από _MAX_ γραμμές",
            },
            paging: true,
            responsive: true,
            buttons: [
                {
                    // Save as PDF button
                    // TODO Check margins, add datetime of export, fix title in pdf, check file name
                    extend: 'pdf',
                    text: 'PDF',
                    className: 'btn btn-secondary',
                    orientation: 'landscape',
                    pageSize: 'A4',
                    exportOptions: {
                        format: {
                            body: function ( inner, coldex, rowdex ) {
                            if (inner.length <= 0) return inner;
                            var el = $.parseHTML(inner);
                            var result='';
                            $.each( el, function (index, item) {
                                if (item.nodeName == '#text') {
                                    result += item.textContent;
                                }
                                else if (item.nodeName == 'STRONG'){
                                    result += item.outerHTML;
                                }
                                else if (item.nodeName == 'A'){
                                    nodes = item.childNodes;
                                    is_image = false;
                                    for(elem of nodes.values()){
                                        if (typeof elem.attributes !== 'undefined' && elem.hasAttribute('aria-src')){
                                            image = elem.getAttribute('aria-src').trim();
                                            result += image;
                                            is_image = true;
                                        }
                                    }
                                    if(! is_image){
                                        result += item.outerHTML;
                                    }
                                }
                                else {
                                    result += item.outerHTML;
                                }
                            });
                            return result;
                            }
                        },
                        modifier: {
                        },
                    },
                    customize: function(doc){
                        doc.content[1].table.dontBreakRows = true;
                        doc.pageMargins = [ 1,1,1,1 ];
                        doc.styles.title = {
                            alignment: "center",
                            fontSize: 12,
                            noWrap: true,
                        };
                        doc.styles.redcelleven = {
                            color: '#dc3545',
                            fillColor: '#fceaec',
                        };
                        doc.styles.redcellodd = {
                            color: '#dc3545',
                            fillColor: '#e2d2d4',
                        };
                        doc.styles.redroweven = {
                            fillColor: '#fceaec',
                        };
                        doc.styles.redrowodd = {
                            fillColor: '#e2d2d4',
                        };
                        var photo_index = 0;
                        for(i = 0; i < doc.content[1].table.body[0].length; i++){
                            if (doc.content[1].table.body[0][i].text == 'Φωτογραφία'){
                                photo_index = i;
                                break;
                            }
                        }
                        for(j = 1; j < doc.content[1].table.body.length; j++){
                            red_row = false;
                            red_cell = false;
                            doc.content[1].table.body[j][photo_index] = {
                                image: doc.content[1].table.body[j][photo_index].text,
                                width: 50,
                            }
                            for(z = 1; z < doc.content[1].table.body[j].length; z++){
                                if(z != photo_index){
                                    if(typeof doc.content[1].table.body[j][z].text !== 'undefined' && doc.content[1].table.body[j][z].text != 'undefined'){
                                        if(doc.content[1].table.body[j][z].text.includes('text-danger')){
                                            red_row = true;
                                            if(j % 2 == 0){
                                                doc.content[1].table.body[j][z].style = 'redcelleven';
                                            } else {
                                                doc.content[1].table.body[j][z].style = 'redcellodd';
                                            }
                                        }
                                        let reg = /<\/?.+?\/?>/g;
                                        new_value = doc.content[1].table.body[j][z].text.replace(reg, '').trim();
                                        doc.content[1].table.body[j][z].text = new_value;
                                    }
                                }
                            }
                            if(red_row){
                                for(z = 1; z < doc.content[1].table.body[j].length; z++){
                                    if(doc.content[1].table.body[j][z].style != 'redcellodd' && doc.content[1].table.body[j][z].style != 'redcelleven' ){
                                        if(j % 2 == 0){
                                            doc.content[1].table.body[j][z].style = 'redroweven';
                                        }else {
                                            doc.content[1].table.body[j][z].style = 'redrowodd';
                                        }
                                    }
                                }
                            }
                        }
                    },
                },
                {
                    extend:'excel',
                    className: 'btn btn-secondary',
                    text:'Excel',
                    exportOptions: {
                        columns: export_cols,
                        stripHtml: true,
                        },
                },
                {
                    extend:'csv',
                    className: 'btn btn-secondary',
                    exportOptions:{
                        columns: export_cols, //columns we want to exclude (look at the start of the script)
                    }
                },
                //customise print button
                {
                    extend: 'print',
                    text: 'Εκτύπωση',
                    className: 'btn btn-secondary',
                    orientation: 'landscape',
                    exportOptions: {
                        stripHtml: false,
                        //function to keep images and other html tags
                        format: {
                            body: function ( inner, coldex, rowdex ) {
                            if (inner.length <= 0) return inner;
                            var el = $.parseHTML(inner);
                            var result='';
                            $.each( el, function (index, item) {
                                if (item.nodeName == '#text') {
                                    if (item.textContent !== 'undefined'){
                                        result += item.textContent;
                                    } else {
                                        result += item.nextSibling.innerText;
                                    }
                                }
                                else if (item.nodeName == 'STRONG'){
                                    result += item.outerHTML;
                                }
                                else if (item.nodeName == 'A'){
                                    result += item.outerHTML;
                                }
                                else {
                                    result += item.innerText;
                                }
                            });
                            return result;
                            }
                        },
                        },
                        //customise print output
                        //function gives us three params, the window that will be printed, the print button object, and the data_tables api object
                        //using jquery we force the document to print background colors, get all the rows that are colored red in the original document(.bg-danger) and pass that color to the rows in the print document, give some styling to the header, and fix some text styling issues.
                    customize: function(window, print_btn_object, api){
                        rows = api.rows({search:'applied'}).nodes();
                        columns = api.columns({search:'applied'}).nodes();
                        cells = api.cells('.danger-text', {search:'applied'});
                        $(window.document.body).css('webkit-print-color-adjust', 'exact');
                        $(window.document.body).css('print-color-adjust', 'exact');
                        table = $(window.document.body).find('table');
                        table_head = table.find('thead');
                        table_head.css('background-color', '#F8F9FA');
                        table_body = table.find('tbody');
                        trs = table_body.find('tr');
                        tds = table_body.find('td');
                        table.find('th').css('white-space', 'nowrap');
                        $.each(rows, function(index, item){
                            if (item.classList.contains('bg-danger')){
                                $(trs[index]).css('background-color', '#FCEAEC');
                            }
                            $.each(item.cells, function(indx, td){
                                if (td.classList.contains('danger-text')){
                                    $(trs[index].cells[indx]).css('color', '#ff0000');
                                } else if (td.classList.contains('success-text')){
                                    $(trs[index].cells[indx]).css('color', '#198754');
                                }
                            });
                        });
                    },
                },
                {
                    extend:'copy',
                    className: 'btn btn-secondary',
                    text: 'Αντιγραφή',
                },
            ],
            orderCellsTop: true,
            fixedColumns:   true,
            //add select filters where we have select-filter class on the first th row of the thead.
            initComplete: function(){
                this.api()
                .columns('.select-filter')
                .every(function () {
                        var column = this;
                        var select = $('<select class="form-select"><option value=""></option></select>').appendTo($("#table_2 thead tr:eq(1) th").eq(column.index()).empty()).on('change', function () {
                                var val = $(this).val();
                                column.search(val ? val : '', false, true).draw();
                            });
                        column
                            .data()
                            .unique()
                            .sort()
                            .each(function (d, j) {
                                let reg = /<\/?.+?\/?>/g;
                                new_value = d.replace(reg, '').trim();
                                select.append('<option value="' + new_value + '">' + new_value + '</option>');
                            });
                    });
                },
        };

        //stop dropdown from closing on click, so we can select multiple categories
        $('body').on('click', function(e){
            dropdown_elem = $('#CategorySelectDropdown');
            target_element = $(e.target);
            if (target_element.hasClass('form-check-label') || target_element.hasClass('form-check') || target_element.hasClass('dropdown-menu show') || target_element.hasClass('dropdown-category') ){
                e.stopPropagation();
            }
            if (target_element.attr('id') == 'CategorySelectAllCheckbox'){
                checkboxes = $('.category-form-check-input');
                if (target_element.prop('checked') == true ){
                    checkboxes.each(function(i, element){
                        $(this).prop('checked', true);
                    });
                }
                else if (target_element.prop('checked') == false ){
                    checkboxes.each(function(i, element){
                        $(this).prop('checked', false);
                    });
                }
            } else if (target_element.attr('id') == 'ShopSelectAllCheckbox'){
                checkboxes = $('.shop-form-check-input');
                if (target_element.prop('checked') == true ){
                    checkboxes.each(function(i, element){
                        $(this).prop('checked', true);
                    });
                }
                else if (target_element.prop('checked') == false ){
                    checkboxes.each(function(i, element){
                        $(this).prop('checked', false);
                    });
                }
            }
        });

        //function to enable search on the shops dropdown
        $("#shop_search").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $(".dropdown-menu li").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#category_search").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $(".dropdown-menu li").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        document.body.addEventListener('htmx:beforeRequest', function (evt) {
            const targetError = evt.target.attributes.getNamedItem('hx-target-error')
            if (targetError) {
            document.getElementById(targetError.value).style.display = "none";
            }
        });

        // Get all checked items from the dropdown and add them in the request parameters
        document.body.addEventListener('htmx:configRequest', function(evt) {
        if (evt.target.id == 'price-picker-form'){
            category_checkboxes = $('.category-form-check-input');
            category_list = '';
            category_checkboxes.each(
                function(i,elem) {
                    if($(this).prop('checked') == true){
                        category_list += $(this).val() + ' ';
                    }
                }
                );
                if(category_list == ''){
                    error_elem = document.getElementById('error_notice');
                    error_elem.innerHTML = 'Παρακαλώ επιλέξτε τουλάχιστον μια κατηγορία.';
                    error_elem.style.display = "block";
                    evt.preventDefault();
                } else {
                    error_elem = document.getElementById('error_notice')
                    error_elem.innerHTML = '';
                    error_elem.style.display = "none";
                }

                shop_checkboxes = $('.shop-form-check-input');
                shop_list = '';
                shop_checkboxes.each(
                function(i,elem) {
                    if($(this).prop('checked') == true){
                        shop_list += $(this).val() + ' ';
                    }
                }
                );
                if(shop_list == ''){
                    error_elem = document.getElementById('error_notice');
                    error_elem.innerHTML = 'Παρακαλώ επιλέξτε τουλάχιστον έαν κατάστημα.';
                    error_elem.style.display = "block";
                    evt.preventDefault();
                } else {
                    error_elem = document.getElementById('error_notice')
                    error_elem.innerHTML = '';
                    error_elem.style.display = "none";
                }
            }
            evt.detail.parameters['categories_list'] = category_list; // add a new parameter into the mix
            evt.detail.parameters['shops_list'] = shop_list; // add a new parameter into the mix
        });
        // What should i do with the response from the server?
        document.body.addEventListener('htmx:afterRequest', function (evt) {
            const targetError = evt.target.attributes.getNamedItem('hx-target-error');
            if (evt.detail.failed && targetError) {
                // We got an error
                error_elem = document.getElementById(targetError.value);
                error_elem.innerHTML = "Δεν υπάρχουν τιμές για τις επιλεγμένες κατηγορίες.";
                error_elem.style.display = "block";
            } else {
                // Create the table
                const my_response_text = evt.detail.xhr.response;
                my_response = JSON.parse(my_response_text);
                if ("error" in my_response){
                    error_elem = document.getElementById('error_notice');
                    error_elem.innerHTML = 'Υπήρξε κάποιο σφάλμα. Προσπαθήστε ξανά. Εάν το σφάλμα συνεχιστεί επικοινωνήστε με το τμήμα Internet.';
                    error_elem.style.display = "block";
                } else {
                    if ( $.fn.dataTable.isDataTable( '#table_2') ) {
                        // Update the table
                        table_2.clear();
                        table_2.destroy();
                    }
                    table_2 = $('#table_2');
                    table_2.html(my_response.table);
                    table_2 = $('#table_2').DataTable(config);
                    config_the_table();
                    table_2.draw();
                    col_search();
                }
            }
        });

        //add text input filters to second row in the thead if th has class text, or nothing if class is no-filter
        config_the_table = function(){
            $('#table_2 tr.head-filters th').each( function (i) {
                var title = $('#table_2 thead th').eq( $(this).index() ).text();
                if ( $(this).hasClass('text') ){
                    $(this).html( '<input type="text" class="form-control" placeholder="'+title+'" data-index="'+i+'" />' );
                } else if ( $(this).hasClass('no-filter')){
                    $(this).html('');
                }
            } );
        }

        // Filter the rows and show only below (red rows)
        $.fn.dataTable.ext.search.push(
            function (settings, searchData, index, rowData, counter) {

            var checked = $('input:checkbox[name="only-below"]').is(':checked');
            // If checked, see if we should hide some rows
            if (checked){
                // If column in position of Diff column has the 'text-danger' class display the row
                if (rowData[8].indexOf('text-danger') >= 0) {
                    return true;
                } else {
                    // Otherwise hide the row
                    return false;
                }
            } else {
                // Otherwise show the all the rows
                return true;
            }
        });

        $('input:checkbox').on('change', function () {
            // Run the search plugin
            $('#table_2').DataTable().draw();
        });

        //add text input filters to second row in the thead if th has class text, or nothing if class is no-filter
        $('#table_2 tr.head-filters th').each( function (i) {
            var title = $('#table_2 thead th').eq( $(this).index() ).text();
            if ( $(this).hasClass('text') ){
                $(this).html( '<input type="text" class="form-control" placeholder="'+title+'" data-index="'+i+'" />' );
            } else if ( $(this).hasClass('no-filter')){
                $(this).html('');
            }
        } );

        //make excluding img col from export dynamic. columns is also used to find the date column dynamically.
        columns = document.getElementById('table_2').rows[0].cells.length;
        export_cols = [];
        exclude_cols = [0];
        for(i=0; i < columns; i++){
        if(! exclude_cols.includes(i)){
            export_cols.push(i);
        }
        }
        //initialise data table
        table_2 = $('#table_2').DataTable(config);
        col_search();
        // Filter event handler
        function col_search(){
            $( table_2.table().container() ).on( 'keyup', 'thead input', function () {
                table_2.column( $(this).data('index') ).search( this.value ).draw();
            });
        }
        //if table is undefined, refresh the page.
        //$( table_2.table().container() ).on( 'keyup', 'thead input', function () {
        //    table_2.column( $(this).data('index') ).search( this.value ).draw();
        //});

        /*DATERANGEPICKER START*/
        /*$(function() {
            var start = moment("2022-01-01 12:34:16");
            var the_end = '{{daterange_timestamp}}';
            var end = moment(the_end);

            function cb() {
              $('#reportrange span').html('Επιλέξτε ημερομηνία');
            }

            $('#reportrange').daterangepicker({
              startDate: moment().subtract(6, 'days'),
              endDate: moment(),
              alwaysShowCalendars: true,
              ranges: {
                'Σήμερα': [moment(), moment()],
                'Χθές': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                '7 προηγούμενες ημέρες': [moment().subtract(6, 'days'), moment()],
                '30 προηγούμενες ημέρες': [moment().subtract(29, 'days'), moment()],
                'Τρέχων μήνας': [moment().startOf('month'), moment().endOf('month')],
                'Προηγούμενος μήνας': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
              },
              locale:{
                  format:"D/M/YYYY",
              },
            }, cb);

            cb();

          });


          $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
           var start = picker.startDate;
           var end = picker.endDate;
           date_column = columns - 1;
            $('#reportrange span').html(start.format('D/M/YYYY') + ' - ' + end.format('D/M/YYYY'));
            $.fn.dataTable.ext.search.push(
                function(settings, data, dataIndex) {
                var min = start;
                var max = end;
                //dynamically find date column(must be the last column of the table)
                var startDate = moment(data[date_column], 'D/M/YYYY');

                if (min == null && max == null) {
                  return true;
                }
                if (min == null && startDate <= max) {
                  return true;
                }
                if (max == null && startDate >= min) {
                  return true;
                }
                if (startDate <= max && startDate >= min) {
                  return true;
                }
                return false;
              }
            );

        table_2.draw();
          $.fn.dataTable.ext.search.pop();
        });*/
        } );
    </script>

{% else %}
<div class="alert alert-danger" role="alert">Δεν βρέθηκαν δεδομένα.</div>
{% endif %}
    {% endblock %}