{% extends "dashboard_base.html" %}
{% load static %}
{% block title %}
Κατηγορίες
{% endblock %}

{% block headEnd %}
<script src="{% static '/map_reporter/js/categories-page-data-table.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<style>
    label {
    padding: 5px;
}
#categories-table_wrapper{
    padding:5px;
}
.indent{
    text-indent:50px;
}
</style>
{% endblock %}



{% block main %}

<h1 class="mb-4">Κατηγορίες</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col col-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar me-1"></i>
                    Αριθμός Προϊόντων ανά κατηγορία
                </div>
                <div class="card-body"><canvas id="categoriesBarChart" width="100%" height="400"></canvas></div>
            </div>
        </div>
        <div class="col col-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar me-1"></i>
                    Ποσοστό σωστών Προϊόντων ανά κατηγορία
                </div>
                <div class="card-body"><canvas id="categoriesStackedBarChart" width="100%" height="400"></canvas></div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header mb-4">
            <i class="fas fa-table me-1"></i>
            Κατηγορίες
        </div>
        {% comment %} <div class="card-body"> {% endcomment %}
            <table id='categories-table' class=''>
                <thead>
                <tr>
                    <th>Όνομα κατηγορίας</th>
                    <th>Γονική κατηγορία</th>
                    <th>Αριθμός Προϊόντων</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                <tr>
                    <td>
                        {% for count in category.asc_count %}
                            -
                        {% endfor %}
                        <a href="{% url 'category_info' category.id %}">
                            {{category.name}}
                        </a> 
                    </td>                
                    <td>
                            {% if not category.parent %}
                                Καμία
                            {% else %}
                                {{category.parent}}
                            {% endif %}    
                    </td>
                    <td>
                        {{category.get_recursive_product_count}}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>

<!--Bar chart script-->
<script>

const chartElem = $('#categoriesBarChart');
const barChart = new Chart(chartElem, {
type:'bar',
data: {
    labels: [
            {% for category in categories %}
            '{{category.name}}',
            {% endfor %}        
    ],
        datasets: [{
            label: '# Προϊόντων ανά κατηγορία',
            data: [
                {% for category in categories %}
                {{category.get_recursive_product_count}},
                {% endfor %}
            ],
            backgroundColor: [
                '#007bff'
            ],
            borderColor: [
                '#007bff'
            ],
            borderWidth: 1
        }]
},
options: {
    responsive:true,
    maintainAspectRatio:false,
    scales: {
            y: {
                beginAtZero: true,
                ticks: {
                    precision: 0
                  }
            }
    },
}
});

</script>


<script>

    const stackedChart = $('#categoriesStackedBarChart');
    const stackedBar = new Chart(stackedChart, {
        type: 'bar',
        data:  {
            labels: [
                    {% for category in categories %}
                    '{{category.name}}',
                    {% endfor %}        
            ],
                datasets: [{
                    label: '# Προϊόντων Κάτω',
                    data: [
                        {% for category in categories %}
                        {{category.prods_below}},
                        {% endfor %}
                    ],
                    backgroundColor: [
                        '#dc3545'
                    ],
                    borderColor: [
                        '#dc3545'
                    ],
                    borderWidth: 1
                },
                {
                    label: '# Προϊόντων ίσα',
                    data: [
                        {% for category in categories %}
                        {{category.prods_equal}},
                        {% endfor %}
                    ],
                    backgroundColor: [
                        '#28a745'
                    ],
                    borderColor: [
                        '#28a745'
                    ],
                    borderWidth: 1
                },
                {
                    label: '# Προϊόντων πάνω',
                    data: [
                        {% for category in categories %}
                        {{category.prods_above}},
                        {% endfor %}
                    ],
                    backgroundColor: [
                        '#007bff'
                    ],
                    borderColor: [
                        '#007bff'
                    ],
                    borderWidth: 1
                }
                ]
        },
        options: {
            responsive:true,
            maintainAspectRatio:false,
            scales: {
                x: {
                    stacked: true
                },
                y: {
                    stacked: true
                }
            }
        }
    });

</script>

{% endblock %}