{% extends "dashboard_base.html" %}
{% load static %}
{% block title %}
Κατηγορίες
{% endblock %}

{% block headEnd %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}



{% block main %}
<h1 class="mb-4">Κατηγορίες</h1>
    <div class="row pt-lg-5">
        <div class="col col-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar me-1"></i>
                    Ποσοστό σωστών Προϊόντων ανά κατηγορία
                </div>
                <div class="card-body align-items-center d-flex"><canvas id="categoriesStackedBarChart" width="100%" height="400"></canvas></div>
                <div class='card-footer small text-muted'>Γράφημα στο οποίο φαίνονται πόσα προϊόντα ανά κατηγορία έχουν τιμή χαμηλότερη από την τιμή στόχου σε τουλάχιστον ένα κατάστημα.</div>
                <div class='card-footer small text-muted'>Τελευταία ενημέρωση {{ latest_timestamp }}</div>
            </div>
        </div>
        <div class="col col-6">
            {% comment %} <div class="card mb-4">
                <div class="card-body align-items-center d-flex">
                    {% lorem 1 p random %}
                </div>
            </div> {% endcomment %}
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header mb-4">
            <i class="fas fa-table me-1"></i>
            Κατηγορίες
        </div>
            <div class="card-body">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="print-selector" data-bs-toggle="dropdown" aria-expanded="false">
                      Τύπος Εξαγωγής
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="print-selector" id="categories-table_print-dropdown">
                      <li><a class="dropdown-item" area-value="" href="#">Εξαγωγή σελίδας</a></li>
                      <li><a class="dropdown-item" area-value="all" href="#">Εξαγωγή όλων</a></li>
                      <li><a class="dropdown-item" area-value="selected" href="#">Εξαγωγή επιλεγμένων</a></li>
                    </ul>
                </div>
                <table id='categories-table' 
                data-toggle="table" 
                data-show-columns="true" 
                data-show-columns-toggle-all="true" 
                data-pagination="true" 
                data-show-toggle="true" 
                data-show-fullscreen="true" 
                data-buttons="buttons" 
                data-buttons-align="left" 
                data-buttons-class="primary" 
                data-pagination-v-align="both" 
                data-remember-order="true" 
                data-sort-reset="true" 
                data-filter-control="true" 
                data-show-search-clear-button="true" 
                data-show-multi-sort="true" 
                data-show-export="true" 
                data-show-print="true" 
                data-sticky-header="true">
                    <thead>
                    <tr class="bg-light">
                        <th data-field="category_name_t" data-sortable="true" data-filter-control="input">Όνομα κατηγορίας</th>
                        <th data-field="parent_category_t" data-sortable="true" data-filter-control="select">Γονική κατηγορία</th>
                        <th data-field="product_count_t" data-sortable="true">Αριθμός Προϊόντων</th>
                        <th data-field="products_ok_t" data-sortable="true">Προϊόντα ΟΚ
                        </th>
                        <th data-field="products_below" data-sortable="true">Προϊόντα κάτω</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in categories %}
                    <tr>
                        <td>
                            {% for count in category.ansc_count %}
                                -
                            {% endfor %}
                            <a href="{% url 'category_info' category.id %}" class="link-dark">
                                {{category.name}}
                            </a>
                        </td>
                        <td>
                            {% if not category.parent %}
                                Καμία
                            {% else %}
                                {{category.parent}}
                            {% endif %}
                        </td>
                        <td>
                            {{category.product_count}}
                        </td>
                        <td>
                            {{category.products_ok}}
                        </td>
                        <td>
                            {{category.products_below}}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


<script>

    const stackedChart = $('#categoriesStackedBarChart');
    const stackedBar = new Chart(stackedChart, {
        type: 'bar',
        data:  {
            labels: [
                    {% for category in categories %}
                    '{{category.name}} ({{category.product_count}})',
                    {% endfor %}        
            ],
                datasets: [{
                    label: '# Προϊόντων Κάτω',
                    data: [
                        {% for category in categories %}
                        '{{category.products_below}}',
                        {% endfor %}
                    ],
                    backgroundColor: [
                        '#dc3545'
                    ],
                    borderColor: [
                        '#dc3545'
                    ],
                    borderWidth: 1
                },
                {
                    label: '# Προϊόντων OK',
                    data: [
                        {% for category in categories %}
                        '{{category.products_ok}}',
                        {% endfor %}
                    ],
                    backgroundColor: [
                        '#28a745'
                    ],
                    borderColor: [
                        '#28a745'
                    ],
                    borderWidth: 1
                },
                ]
        },
        options: {
            responsive:true,
            maintainAspectRatio:false,
            scales: {
                x: {
                    stacked: true
                },
                y: {
                    stacked: true,
                    beginAtZero: true,
                    ticks: {
                        precision: 0
                      }
                }
            }
        }
    });


    var $categories_table = $('#categories-table');

    $(function() {
        $('#categories-table_print-dropdown').find('.dropdown-item').on('click', function (e) {
            e.preventDefault();
            selector_btn = document.getElementById('print-selector');
            selector_btn.innerText = e.target.innerText; 
            data = {};
            if (e.target.attributes['area-value'].value == 'selected'){
                data = {
                    field: 'state',
                    checkbox: true,
                    visible: $(this).attr('area-value') === 'selected'
                };
            }
            $categories_table.bootstrapTable('destroy').bootstrapTable({
                exportDataType: $(this).attr('area-value'),
                exportTypes: ['csv', 'txt', 'excel', 'pdf'],
                columns: [
                    data,
                ],
            })
            }).trigger('change')
           });
   
           $(window).on('load', ()=>{
               export_btn_group = $('.export.btn-group');
               exoport_dropdown = export_btn_group.find("[aria-label='Export']");
               exoport_dropdown.parent().css("cursor", "not-allowed");
               exoport_dropdown.each( (index, elements) => {
                   $(elements).attr("disabled", "true");
               });
           });

</script>

{% endblock %}