{% extends "dashboard_base.html" %}
{% load static %}
{% load thumbnail %}
{% block title %}{{category.name}}{% endblock title %}
{% block headEnd %}
    {% comment %} <script src="{% static '/map_reporter/js/category-info-data-table.js' %}"></script> {% endcomment %}
    {% comment %} <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-html5-1.5.1/b-print-1.5.1/datatables.min.js"></script> {% endcomment %}
    <style>

    label {
        padding: 5px;
    }

    #all-products-table_wrapper{
        padding:5px;
    }

    #active-products-table_wrapper{
        padding:5px;
    }
   
    </style>
{% endblock %}


{% block main %}

<h1 class="mb-4">
    {{ category.name }}
</h1>
    <div class="row">
        <div class="col-xl-6">
            <div class='card mb-4'>
                <div class='card-header'>
                    <i class='fas fa-chart-pie me-1'></i>
                    OK Products Pie Chart
                </div>
                <div class='card-body'><canvas id='okProductsPieChart' width='100%' height='50'></canvas></div>
                <div class='card-footer small text-muted'>Updated yesterday at 11:59 PM</div>
            </div>
        </div>
        <div class="col-xl-6 mb-3">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, quam libero obcaecati laboriosam ab explicabo neque quae, deserunt debitis quia provident. Placeat ad quaerat eum totam. Commodi vero sequi a!
        </div>
    </div>

    <div class="row">
        <div class="col col-12">
            <div class="card mb-4">
                <div class="card-header mb-4">
                        <i class="fas fa-table me-1 MB-4"></i>
                       Όλα τα προϊόντα στην κατηγορία&nbsp;<b>{{ category.name }}</b>
                    </div>
                <table id='all-products-table' class='' 
                data-show-columns="true"
                data-toggle="table"
                data-toggle="table"
                data-pagination="true"
                data-search="true"
                >
                    <thead>
                        <tr>
                            <th>Φωτογραφία</th>
                            <th class="add_select">Ενεργό</th>
                            <th class="add_select">Κατασκευαστής</th>
                            <th>Μοντέλο</th>
                            <th>Τιμή MAP</th>
                            <th>Τιμή Key Account</th>
                            <th>Γονική Κατηγορία</th>
                            <th># Καταστημάτων</th>
                            <th>Κατ. below</th>
                            <th>Κατ. equal</th>
                            <th>Κατ. above</th>
                        </tr>
                        <tr>
                            <th class="no_filter"></th>
                            <th class="no_filter"></th>
                            <th class="no_filter"></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>
                            <a href="{% url 'product_info' product.id %}">
                                {% thumbnail product.image table_image_size as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{product.name}}">
                                {% endthumbnail %}
                            </a> 
                            </td>                
                            <td>
                            {{product.active}}
                            </td>                
                            <td>
                            {{product.manufacturer}}
                            </td>
                            <td>
                            <a href="{% url 'product_info' product.id %}">
                                {{product.model}}
                            </a>
                            </td>
                            <td>
                            {{product.map_price}}
                            </td>
                            <td>
                            {{product.key_acc_price}}
                            </td>
                            <td>
                            {{product.main_category}}
                            </td>
                            <td>
                            {{product.shops_count}}
                            </td>
                            <td>
                            {{product.shops_below}}
                            </td>
                            <td>
                            {{product.shops_equal}}
                            </td>
                            <td>
                            {{product.shops_above}}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-12">
            <div class="card mb-4">
                <div class="card-header mb-4">
                        <i class="fas fa-table me-1 MB-4"></i>
                       Όλα τα <b>ενεργά</b> προϊόντα στην κατηγορία&nbsp;<b>{{ category.name }}</b>
                </div>
                <table id="active-products-table" 
                data-toggle="table"
                data-pagination="true"
                data-search="true"
                >
                    <thead>
                        <tr>
                            <th>Φωτογραφία</th>
                            <th>Κατασκευαστής</th>
                            <th>Μοντέλο</th>
                            <th>Κατάστημα</th>
                            <th>Τιμή</th>
                            <th>Target Price</th>
                            <th>Diff</th>
                            <th>Diff %</th>
                            <th>Επ. Μεταπολητής</th>
                            <th>Πωλητής</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        {% if product.active %}                                        
                        <tr>
                            <td>
                            <a href="{% url 'product_info' product.id %}">{{product}}</a> 
                            </td>

                            <td>
                            {{product.map_price}} €
                            </td>

                            <td>
                            {{product.key_acc_price}} €
                            </td>

                            <td>
                            {{product.main_category}}
                            </td>

                            <td>
                            {{product.main_category}}
                            </td>

                            <td>
                            {{product.main_category}}
                            </td>
                            
                            <td>
                            {{product.main_category}}
                            </td>

                            <td>
                            {{product.main_category}}
                            </td>

                            <td>
                            {{product.main_category}}
                            </td>

                            <td>
                            {{product.main_category}}
                            </td>

                            <td>
                            {{product.main_category}}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



<!--Pie Chart script-->
<script>
const pie_elem = $('#okProductsPieChart');
const cat_pie_chart = new Chart( pie_elem, {
    type: 'pie',
    data: {
        labels: ['Κάτω', 'Κομπλέ'],
        datasets: [{
        data: [{{category.products_below}}, {{category.products_ok}}],
        backgroundColor: ['#dc3545', '#28a745'],
        }],
    },
})

</script>

{% endblock %}