{% extends 'dashboard_base.html' %}
{% load dashboard_tags %}
{% load static %}
{% load thumbnail %}
{% block title %}
Προϊόντα
{% endblock %}

{% block headEnd %}
<!--scripts and styles go here-->

<link rel="stylesheet" href="{% static '/map_reporter/css/jquery.dataTables.css' %}">
{% comment %} <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"> {% endcomment %}
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
{% comment %} <script src="https://cdn.datatables.net/fixedcolumns/4.1.0/js/dataTables.fixedColumns.min.js"></script> {% endcomment %}

{% endblock %}
{% block main %}
    <h1 class='mb-4'>Όλα τα προϊόντα</h1>
    <div class="row">
        <div class="col-6">
            <div class='card mb-4 h-100'>
                <div class='card-header'>
                    <i class='fas fa-chart-pie me-1'></i>
                    Κατάσταση τιμών καταστημάτων
                </div>
                <div class="card-body align-items-center d-flex" d-flex style="height:500px;"><canvas id="myPieChart" width="100%" height="50"></canvas></div>
                <div class='card-footer small text-muted'>Τελευταία ενημέρωση {{ latest_timestamp }}</div>
                <div class='card-footer small text-muted'>Στο παραπάνω γράφημα απεικονίζονται ο αριθμός των τιμών από όλα τα ενεργά προϊόντα, από όλα τα καταστήματα, την τελευταία φορά που τα βρήκαμε ανάλογα με το εάν είναι κάτω, ίσα ή πάνω από την τιμή στόχου.</div>
            </div>
        </div>
        {% comment %} <div class='col-6'>
            <div class="card mb-4 h-100">
                <div class="card-body align-items-center d-flex">
                    {% lorem 1 p random %}
                </div>
            </div>
        </div> {% endcomment %}
    </div>


    {% comment %} in the table you will find a class "danger-text". This is so that the data tables print function can find the cells that are colored red. (cause we have a "p" element inside for the pdf to work, we have to make a workaround for the print to work too. JS!)  {% endcomment %}
    <div class="row pt-lg-5">
        <div class='card mb-4'>
            <div class='card-header mb-4'>
                <i class='fas fa-table me-1'></i>
                Τελευταίες τιμές όλων των ενεργών προϊόντων
            </div>
            <div class="card-body">
                {% comment %} <div id="reportrange" class="btn btn-primary"> <span></span> <b class="caret"></b></div> {% endcomment %}
                {% comment %} display class is shorthand for: stripe, hover, row-border, order-column {% endcomment %}
                <table id='all-products-prices-table' class="data-table display">
                    <!--data-search-highlight use for highlight individual column search-->
                    <thead>
                        <tr class="bg-light">
                            <th>Φωτογραφία</th>
                            <th class="text-filter">Μοντέλο</th>
                            <th class="select-filter">Κατασκ.</th>
                            <th class="select-filter">Κατηγορία</th>
                            <th class="text-filter">SKU</th>
                            <th class="text-filter">Κατάστημα</th>
                            <th>Τιμή</th>
                            <th>Τιμή MAP</th>
                            <th>Διαφ.</th>
                            <th>Διαφ. %</th>
                            <th class="select-filter">Επ. Μεταπωλ.</th>
                            <th class="select-filter">Πωλητής</th>
                            <th>Ημερομηνία</th>
                        </tr>
                    
                        <tr class="bg-light head-filters">
                            <th class="no-filter">Φωτογραφία</th>
                            <th class="text">Μοντέλο</th>
                            <th class="select">Κατασκ.</th>
                            <th class="select">Κατηγορία</th>
                            <th class="text">SKU</th>
                            <th class="text">Κατάστημα</th>
                            <th class="no-filter">Τιμή</th>
                            <th class="no-filter">Τιμή MAP</th>
                            <th class="no-filter">Διαφ.</th>
                            <th class="no-filter">Διαφ. %</th>
                            <th class="select">Επ. Μεταπωλ.</th>
                            <th class="select">Πωλητής</th>
                            <th class="date-filter"><div id="reportrange" class="btn btn-secondary"> <span></span> <b class="caret"></b></div></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for retail_price in retail_prices %}
                        {% if retail_price.product.active %}
                        {% if retail_price.price|sub:retail_price.curr_target_price < 0 %}
                            <tr class="bg-danger" style="--bs-bg-opacity: .1;">
                        {% else %}
                            <tr>
                        {% endif %}
                                <td>
                                    <a href="{% url 'product_info' retail_price.product.id %}">
                                    {% thumbnail retail_price.product.image table_image_size as im %}
                                        <img src="{{ im.url }}" aria-src="{{ im.url|datalize }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{retail_price.product.name}}" class="prod-img">
                                    {% endthumbnail %}
                                    </a>
                                    
                                </td>
                                <td>
                                    <a href="{% url 'product_info' retail_price.product.id %}" class="link-dark">
                                        {{retail_price.product.model}}
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'manufacturer_info' retail_price.product.manufacturer.id %}" class="link-dark">
                                        {{retail_price.product.manufacturer}}
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'category_info' retail_price.product.main_category.id %}" class="link-dark">
                                        {{retail_price.product.main_category}}
                                    </a>
                                </td>
                                <td>
                                    {{retail_price.product.sku}}
                                </td>
                                <td>
                                    <a href="{% url 'shop_info' retail_price.shop.id %}" class="link-dark">{{retail_price.shop}}</a>
                                </td>
                                <td>
                                    {{retail_price.price}} €
                                </td>
                                <td>
                                    {{retail_price.curr_target_price}} €
                                </td>
                                {% if retail_price.price|sub:retail_price.curr_target_price < 0 %}
                                <td class="danger-text">
                                        <p class='text-danger'>{{retail_price.price|sub:retail_price.curr_target_price}} €</p>
                                    {% elif retail_price.price|sub:retail_price.curr_target_price > 0 %}
                                    <td class="success-text">
                                        <p class='text-success'>{{retail_price.price|sub:retail_price.curr_target_price}} €</p>
                                    {% else %}
                                    <td>
                                        <p class='text-black'>{{retail_price.price|sub:retail_price.curr_target_price}} €</p>
                                    {% endif %}
                                </td>
                                {% if retail_price.price|ch_sub:retail_price.curr_target_price < 0 %}
                                <td class="danger-text">
                                        <p class='text-danger'>{{retail_price.price|ch_sub:retail_price.curr_target_price}} %</p>
                                    {% elif retail_price.price|sub:retail_price.curr_target_price > 0 %}
                                    <td class="success-text">
                                        <p class='text-success'>{{retail_price.price|ch_sub:retail_price.curr_target_price}} %</p>
                                    {% else %}
                                    <td>
                                        <p class='text-black'>{{retail_price.price|ch_sub:retail_price.curr_target_price}} %</p>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ retail_price.is_shop_official_reseller }}
                                </td>
                                {% if not seller_flag %}
                                <td>{{ retail_price.shop.seller.last_name }}</td>
                                {% endif %}
                                <td>{{retail_price.timestamp|date:"d/m/Y, H:m"}}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
    </div>

    <script>
        // Pie Chart
        var ctx = document.getElementById('myPieChart');
        var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Κάτω', 'Ακριβώς', 'Πάνω'],
            datasets: [{
            data: [{{products_below}}, {{products_equal}}, {{products_above}}],
            backgroundColor: ['#dc3545', '#28a745', '#007bff'],
            }],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
        }
        });


        $(document).ready(function() {
            //add text input filters to second row in the thead if th has class text, or nothing if class is no-filter
            $('#all-products-prices-table tr.head-filters th').each( function (i) {
                var title = $('#all-products-prices-table thead th').eq( $(this).index() ).text();
                if ( $(this).hasClass('text') ){
                    $(this).html( '<input type="text" class="form-control" placeholder="'+title+'" data-index="'+i+'" />' );
                } else if ( $(this).hasClass('no-filter')){
                    $(this).html('');
                }
            } );

            //make excluding img col from export dynamic. columns is also used to find the date column dynamically.
          columns = document.getElementById('all-products-prices-table').rows[0].cells.length;
          export_cols = [];
          exclude_cols = [0];
          for(i=0; i < columns; i++){
            if(! exclude_cols.includes(i)){
                export_cols.push(i);
            }
          }
          //initialise data table
            table = $('#all-products-prices-table').DataTable({
                order: [[12, 'desc'],[3, 'asc'],[2, 'asc'],[1, 'asc'],[6, 'asc']],
                dom: 'Bfplrtipl',
                info:true,
                searching: true,
                language: {
                    search: "Αναζήτηση: ",
                    paginate:{
                        previous: "&lt;",
                        next: "&gt;",
                    },
                    info: "Σελίδα _PAGE_ από _PAGES_",
                    lengthMenu: "Εμφάνιση _MENU_ γραμμών",
                  },
                paging: true,
                responsive: true,
                buttons: [
                    {
                        // Save as PDF button
                        // TODO Check margins, add datetime of export, fix title in pdf, check file name
                        extend: 'pdf',
                        text: 'PDF',
                        className: 'btn btn-secondary',
                        orientation: 'landscape',
                        pageSize: 'A4',
                        //filename: '*',
                        exportOptions: {
                            format: {
                                body: function ( inner, coldex, rowdex ) {
                                  if (inner.length <= 0) return inner;
                                  var el = $.parseHTML(inner);
                                  var result='';
                                  $.each( el, function (index, item) {
                                      if (item.nodeName == '#text') {
                                          result += item.textContent;
                                        //result += item.textContent.trim();
                                    }
                                    else if (item.nodeName == 'STRONG'){
                                        result += item.outerHTML;
                                        //result += item.outerHTML.trim();
                                    }
                                    else if (item.nodeName == 'A'){
                                        nodes = item.childNodes;
                                        is_image = false;
                                        for(elem of nodes.values()){
                                            if (typeof elem.attributes !== 'undefined' && elem.hasAttribute('aria-src')){
                                                image = elem.getAttribute('aria-src').trim();
                                                result += image;
                                                is_image = true;
                                            }
                                        }
                                        if(! is_image){
                                            result += item.outerHTML;
                                        }
                                    }
                                    else {
                                        result += item.outerHTML;
                                    }
                                  });
                                  return result;
                                }
                              },
                              modifier: {
                            },
                        },
                        customize: function(doc){
                            doc.content[1].table.dontBreakRows = true; 
                            doc.pageMargins = [ 1,1,1,1 ];
                            doc.content[1].table.dontBreakRows = true;
                            doc.styles.title = {
                                alignment: "center",
                                fontSize: 12,
                                noWrap: true,
                            };
                            doc.styles.redcelleven = {
                                color: '#dc3545',
                                fillColor: '#fceaec',
                                //noWrap: true,
                            };
                            doc.styles.redcellodd = {
                                color: '#dc3545',
                                fillColor: '#e2d2d4',
                                //noWrap: true,
                            };
                            doc.styles.redroweven = {
                                fillColor: '#fceaec',
                                //noWrap: true,
                            };
                            doc.styles.redrowodd = {
                                fillColor: '#e2d2d4',
                                //noWrap: true,
                            };
                            var photo_index = 0;
                            for(i = 0; i < doc.content[1].table.body[0].length; i++){
                                if (doc.content[1].table.body[0][i].text == 'Φωτογραφία'){
                                    photo_index = i;
                                    break;
                                }
                            }
                            for(j = 1; j < doc.content[1].table.body.length; j++){
                                red_row = false;
                                red_cell = false;
                                doc.content[1].table.body[j][photo_index] = {
                                    image: doc.content[1].table.body[j][photo_index].text,
                                    width: 50,
                                }
                                for(z = 1; z < doc.content[1].table.body[j].length; z++){
                                    if(z != photo_index){
                                        if(typeof doc.content[1].table.body[j][z].text !== 'undefined' && doc.content[1].table.body[j][z].text != 'undefined'){
                                            if(doc.content[1].table.body[j][z].text.includes('text-danger')){
                                                red_row = true;
                                                if(j % 2 == 0){
                                                    doc.content[1].table.body[j][z].style = 'redcelleven';
                                                } else {
                                                    doc.content[1].table.body[j][z].style = 'redcellodd';
                                                }
                                            }
                                            let reg = /<\/?.+?\/?>/g;
                                            new_value = doc.content[1].table.body[j][z].text.replace(reg, '').trim();
                                            doc.content[1].table.body[j][z].text = new_value;
                                        }
                                    }
                                }
                                if(red_row){
                                    for(z = 1; z < doc.content[1].table.body[j].length; z++){
                                        if(doc.content[1].table.body[j][z].style != 'redcellodd' && doc.content[1].table.body[j][z].style != 'redcelleven' ){
                                            if(j % 2 == 0){
                                                doc.content[1].table.body[j][z].style = 'redroweven';
                                            }else {
                                                doc.content[1].table.body[j][z].style = 'redrowodd';
                                            }
                                        }
                                    }
                                }
                            }
                        },
                    },
                    {
                        extend:'excel',
                        className: 'btn btn-secondary',
                        text:'Excel',
                        exportOptions: {
                            columns: export_cols,
                            stripHtml: true,
                            //function to keep images and other html tags <- does not work, set stripHTML to true. 
                           /*format: {
                                body: function ( inner, coldex, rowdex ) {
                                  if (inner.length <= 0) return inner;
                                  var el = $.parseHTML(inner);
                                  var result='';
                                  $.each( el, function (index, item) {
                                      if (item.nodeName == '#text') {
                                        if (item.textContent !== 'undefined'){
                                            result += item.textContent;
                                        } else {
                                            result += item.nextSibling.innerText;
                                        }
                                    }
                                    else if (item.nodeName == 'A'){
                                        nodes = item.childNodes;
                                        is_image = false;
                                        for(elem of nodes.values()){
                                            if (typeof elem.attributes !== 'undefined' && elem.hasAttribute('aria-src')){
                                                image = elem.getAttribute('aria-src').trim();
                                                result += image;
                                                is_image = true;
                                            }
                                        }
                                        if(! is_image){
                                            result += item.innerText.trim();
                                        }
                                    }
                                    else {
                                        result += item.innerText;
                                    } 
                                  });
                                  return result;
                                }
                              },*/
                            },
                    }, 
                    {
                        extend:'csv',
                        className: 'btn btn-secondary',
                        exportOptions:{
                            columns: export_cols, //columns we want to exclude (look at the start of the script)
                        }
                    },
                    //customise print button
                    {
                        extend: 'print',
                        text: 'Εκτύπωση',
                        className: 'btn btn-secondary',
                        orientation: 'landscape',
                        exportOptions: {
                            stripHtml: false,
                            //function to keep images and other html tags
                            format: {
                                body: function ( inner, coldex, rowdex ) {
                                  if (inner.length <= 0) return inner;
                                  var el = $.parseHTML(inner);
                                  var result='';
                                  $.each( el, function (index, item) {
                                    if (item.nodeName == '#text') {
                                        if (item.textContent !== 'undefined'){
                                            result += item.textContent;
                                        } else {
                                            result += item.nextSibling.innerText;
                                        }
                                    }
                                    else if (item.nodeName == 'STRONG'){
                                        result += item.outerHTML;
                                    } 
                                    else if (item.nodeName == 'A'){                                       
                                        result += item.outerHTML;
                                    }
                                    else {
                                        result += item.innerText;
                                    } 
                                  });
                                  return result;
                                }
                              },
                            },
                            //customise print output
                            //function gives us three params, the window that will be printed, the print button object, and the data_tables api object
                            //using jquery we force the document to print background colors, get all the rows that are colored red in the original document(.bg-danger) and pass that color to the rows in the print document, give some styling to the header, and fix some text styling issues. 
                        customize: function(window, print_btn_object, api){
                            rows = api.rows({search:'applied'}).nodes();
                            columns = api.columns({search:'applied'}).nodes();
                            cells = api.cells('.danger-text', {search:'applied'});
                            $(window.document.body).css('webkit-print-color-adjust', 'exact');
                            $(window.document.body).css('print-color-adjust', 'exact');
                            table = $(window.document.body).find('table');
                            table_head = table.find('thead');
                            table_head.css('background-color', '#F8F9FA');
                            table_body = table.find('tbody');
                            trs = table_body.find('tr');
                            tds = table_body.find('td');
                            table.find('th').css('white-space', 'nowrap');
                            $.each(rows, function(index, item){
                                if (item.classList.contains('bg-danger')){
                                    $(trs[index]).css('background-color', '#FCEAEC');
                                }
                                $.each(item.cells, function(indx, td){
                                    if (td.classList.contains('danger-text')){
                                        $(trs[index].cells[indx]).css('color', '#ff0000');
                                    } else if (td.classList.contains('success-text')){
                                        $(trs[index].cells[indx]).css('color', '#198754');
                                    }
                                });
                            });
                        },
                    },
                    {
                        extend:'copy',
                        className: 'btn btn-secondary',
                        text: 'Αντιγραφή',
                    },
                ],
                orderCellsTop: true,
                fixedColumns:   true,
                //add select filters where we have select-filter class on the first th row of the thead.
                initComplete: function(){
                    this.api()
                    .columns('.select-filter')
                    .every(function () {
                            var column = this;
                            var select = $('<select class="form-select"><option value=""></option></select>').appendTo($("#all-products-prices-table thead tr:eq(1) th").eq(column.index()).empty()).on('change', function () {
                                    var val = $(this).val();
                                    column.search(val ? val : '', false, true).draw();
                                });
                            column
                                .data()
                                .unique()
                                .sort()
                                .each(function (d, j) {
                                    let reg = /<\/?.+?\/?>/g;
                                    new_value = d.replace(reg, '').trim();
                                    select.append('<option value="' + new_value + '">' + new_value + '</option>');
                                });
                        });
                    },
            });
         
          
         
            // Filter event handler
            //if table is undefined, refresh the page.
            $( table.table().container() ).on( 'keyup', 'thead input', function () {
                table.column( $(this).data('index') ).search( this.value ).draw();
            } );

        /*DATERANGEPICKER START*/
        $(function() {
            var start = moment("2022-01-01 12:34:16");
            var the_end = '{{daterange_timestamp}}';
            var end = moment(the_end);
        
            function cb() {
              $('#reportrange span').html('Επιλέξτε ημερομηνία');
            }
        
            $('#reportrange').daterangepicker({
              startDate: moment().subtract(6, 'days'),
              endDate: moment(),
              alwaysShowCalendars: true,
              ranges: {
                'Σήμερα': [moment(), moment()],
                'Χθές': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                '7 προηγούμενες ημέρες': [moment().subtract(6, 'days'), moment()],
                '30 προηγούμενες ημέρες': [moment().subtract(29, 'days'), moment()],
                'Τρέχων μήνας': [moment().startOf('month'), moment().endOf('month')],
                'Προηγούμενος μήνας': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
              },
              locale:{
                  format:"D/M/YYYY",
              },
            }, cb);
        
            cb();
        
          });
         
        
          $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
           var start = picker.startDate;
           var end = picker.endDate;
           date_column = columns - 1;
            $('#reportrange span').html(start.format('D/M/YYYY') + ' - ' + end.format('D/M/YYYY'));
            $.fn.dataTable.ext.search.push(
                function(settings, data, dataIndex) {
                var min = start;
                var max = end;
                //dynamically find date column(must be the last column of the table)
                var startDate = moment(data[date_column], 'D/M/YYYY');
                
                if (min == null && max == null) {
                  return true;
                }
                if (min == null && startDate <= max) {
                  return true;
                }
                if (max == null && startDate >= min) {
                  return true;
                }
                if (startDate <= max && startDate >= min) {
                  return true;
                }
                return false;
              }
            );

          table.draw();
          $.fn.dataTable.ext.search.pop();
        });
        } );


        
     

    </script>

    

    {% endblock %}