{% extends 'dashboard_base.html' %}
{% load dashboard_tags %}
{% load static %}
{% load thumbnail %}
{% block title %}
    {{manufacturer.name}}
{% endblock title %}

{% block headEnd %}

{% endblock %}


{% block main %}
<h1 class="mb-4">
    {{ manufacturer.name }}
</h1>
    <div class="row">
        <div class="col-xl-6">
            <div class='card mb-4 h-100'>
                <div class='card-header'>
                    <i class='fas fa-chart-pie me-1'></i>
                    Κατάσταση τιμών κατασκευαστή
                </div>
                <div class="card-body align-items-center d-flex" style="height:500px;"><canvas id='okProductsPieChart' width='100%' height='50'></canvas></div>
                <div class='card-footer small text-muted'>Στο παραπάνω γράφημα απεικονίζεται ο αριθμός των ενεργών προϊόντων του κατασκευαστή, ανάλογα με το εάν η τιμή των προϊόντων είναι πάνω ή κάτω από την τιμή στόχο.</div>
                <div class='card-footer small text-muted'>Τελευταία ενημέρωση {{ latest_timestamp }}</div>
            </div>
        </div>
        <div class="col-xl-6 mb-3">
            {% comment %} <div class="card mb-4 h-100">
                <div class="card-body align-items-center d-flex">
                    {% lorem 1 p random %}
                </div>
            </div> {% endcomment %}
        </div>
    </div>

    <div class="row mt-4">
        <div class="col col-12">
            <div class="card mb-4">
                <div class="card-header mb-4">
                    <i class="fas fa-table me-1 MB-4"></i>
                    Όλα τα προϊόντα <b>{{ manufacturer.name }}</b>
                </div>
                <div class="card-body">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="print-selector" data-bs-toggle="dropdown" aria-expanded="false">
                          Τύπος Εξαγωγής
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="print-selector" id="all-products-table_print-dropdown">
                          <li><a class="dropdown-item" area-value="" href="#">Εξαγωγή σελίδας</a></li>
                          <li><a class="dropdown-item" area-value="all" href="#">Εξαγωγή όλων</a></li>
                          <li><a class="dropdown-item" area-value="selected" href="#">Εξαγωγή επιλεγμένων</a></li>
                        </ul>
                      </div>

                      <table id='all-products-table'
                              data-toggle="table"
                              data-show-columns="true"
                              data-show-columns-toggle-all="true"
                              data-pagination="true"
                              data-show-toggle="true"
                              data-show-fullscreen="true"
                              data-buttons="buttons"
                              data-buttons-align="left"
                              data-buttons-class="primary"
                              data-pagination-v-align="both"
                              data-remember-order="true"
                              data-sort-reset="true"
                              data-filter-control="true"
                              data-show-search-clear-button="true"
                              data-show-multi-sort="true"
                              data-show-export="true"
                              data-show-print="true"
                              data-sticky-header="true"
                      >
                          <thead>
                            <tr class="bg-light">
                                <th data-field="product_image_t">Φωτογραφία</th>
                                <th data-field="active_t" data-filter-control="select">Ενεργό</th>
                                <th data-field="model_t" data-filter-control="input">Μοντέλο</th>
                                <th data-field="sku_t" data-filter-control="input">SKU</th>
                                <th data-field="map_price_t">MAP Price</th>
                                <th data-field="shop_count_t">Καταστήματα</th>
                                <th data-field="shops_below_t">Κατ. below</th>
                                <th data-field="shops_equal_t">Κατ. equal</th>
                                <th data-field="shops_above_t">Κατ. above</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for product in products %}
                              <tr>
                                  <td>
                                  <a href="{% url 'product_info' product.id %}" class="link-dark">
                                      {% thumbnail product.image table_image_size as im %}
                                      <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{product.name}}">
                                      {% endthumbnail %}
                                  </a> 
                                  </td>                
                                  <td>
                                  {{product.active}}
                                  </td>                
                                  <td>
                                  <a href="{% url 'product_info' product.id %}" class="link-dark">
                                      {{product.model}}
                                  </a>
                                  </td>
                                  <td>
                                    {{product.sku}}
                                  </td>
                                  <td>
                                  {{product.map_price}} €
                                  </td>
                                  <td>
                                  {{product.main_category}}
                                  </td>
                                  <td>
                                  {{product.shops_count}}
                                  </td>
                                  <td>
                                  {{product.shops_below}}
                                  </td>
                                  <td>
                                  {{product.shops_equal}}
                                  </td>
                              </tr>
                              {% endfor %}
                          </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-12">
            <div class="card mb-4">
                <div class="card-header mb-4">
                        <i class="fas fa-table me-1 mb-4"></i>
                       Όλα τα <b>ενεργά</b> προϊόντα <b>{{ manufacturer.name }}</b>
                </div>
                <div class="card-body">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="bottom-print-selector" data-bs-toggle="dropdown" aria-expanded="false" >Τυπος Εξαγωγής</button>
                        <ul class="dropdown-menu" aria-labelledby="bottom-print-selector" id="active-products-table_print-dropdown">
                          <li><a class="dropdown-item" area-value="" href="#">Εξαγωγή σελίδας</a></li>
                          <li><a class="dropdown-item" area-value="all" href="#">Εξαγωγή όλων</a></li>
                          <li><a class="dropdown-item" area-value="selected" href="#">Εξαγωγή επιλεγμένων</a></li>
                        </ul>
                      </div>

                    <table id="active-products-table" 
                            data-toggle="table"
                            data-show-columns="true"
                            data-show-columns-toggle-all="true"
                            data-pagination="true"
                            data-show-toggle="true"
                            data-show-fullscreen="true"
                            data-buttons="buttons"
                            data-buttons-align="left"
                            data-buttons-class="primary"
                            data-pagination-v-align="both"
                            data-remember-order="true"
                            data-sort-reset="true"
                            data-filter-control="true"
                            data-show-search-clear-button="true"
                            data-show-multi-sort="true"
                            data-show-export="true"
                            data-show-print="true"
                            data-sticky-header="true"
                    >
                        <thead>
                            <tr class="bg-light">
                                <th data-field="product_image">Φωτογραφία</th>
                                <th data-sortable="true" data-field="model_b" data-filter-control="input">Μοντέλο</th>
                                <th data-sortable="true" data-field="sku_b" data-filter-control="input">SKU</th>
                                <th data-sortable="true" data-field="shop_b" data-filter-control="input">Κατάστημα</th>
                                <th data-sortable="true" data-field="price_b">Τιμή</th>
                                <th data-sortable="true" data-field="target_price_b">Target Price</th>
                                <th data-sortable="true" data-field="diff_b">Diff</th>
                                <th data-sortable="true" data-field="per_diff_b">Diff %</th>
                                <th data-sortable="true" data-field="official_reseller_b" data-filter-control="select">Επ. Μεταπωλητής</th>
                                {% if not seller_flag %}
                                <th data-sortable="true" data-field="seller" data-filter-control="select">Πωλητής</th>
                                {% endif %}
                                <th data-sortable="true" data-field="date">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for retailprice in retailprices %}
                                {% if retailprice.price|sub:retailprice.curr_target_price < 0 %}
                                    <tr class="bg-danger" style="--bs-bg-opacity: .1;">
                                {% else %}
                                    <tr>
                                {% endif %}
                                        <td>
                                            <a href="{% url 'product_info' retailprice.product.id %}" class="link-dark">
                                            {% thumbnail retailprice.product.image table_image_size as im %}
                                                <img src="{{ im.url }}" aria-src="{{ im.url|datalize }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{retailprice.product.name}}" class="prod-img">
                                            {% endthumbnail %}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{% url 'product_info' retailprice.product.id %}" class="link-dark">
                                                {{retailprice.product.model}}
                                            </a>
                                        </td>
                                        <td>
                                            {{retailprice.product.sku}}
                                        </td>
                                        <td>
                                            <a href="{% url 'shop_info' retailprice.shop.id %}" class="link-dark">{{retailprice.shop}}</a>
                                        </td>
                                        <td>
                                            {{retailprice.price}} €
                                        </td>
                                        <td>
                                            {{retailprice.curr_target_price}} €
                                        </td>
                                        <td>
                                            {% if retailprice.price|sub:retailprice.curr_target_price < 0 %}
                                                <p class='text-danger'>{{retailprice.price|sub:retailprice.curr_target_price}} €</p>
                                            {% elif retailprice.price|sub:retailprice.curr_target_price > 0 %}
                                                <p class='text-success'>{{retailprice.price|sub:retailprice.curr_target_price}} €</p>
                                            {% else %}
                                                <p class='text-black'>{{retailprice.price|sub:retailprice.curr_target_price}} €</p>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if retailprice.price|ch_sub:retailprice.curr_target_price < 0 %}
                                                <p class='text-danger'>{{retailprice.price|ch_sub:retailprice.curr_target_price}} %</p>
                                            {% elif retailprice.price|sub:retailprice.curr_target_price > 0 %}
                                                <p class='text-success'>{{retailprice.price|ch_sub:retailprice.curr_target_price} %}</p>
                                            {% else %}
                                                <p class='text-black'>{{retailprice.price|ch_sub:retailprice.curr_target_price}} %</p>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ retailprice.is_shop_official_reseller }}
                                        </td>
                                        {% if not seller_flag %}
                                        <td>{{ retailprice.shop.seller.last_name }}</td>
                                        {% endif %}
                                        <td>{{retailprice.timestamp}}</td>
                                    </tr>
                            {% endfor %}
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



<!--Pie Chart script-->
<script>
const pie_elem = $('#okProductsPieChart');
const cat_pie_chart = new Chart( pie_elem, {
    type: 'pie',
    data: {
        labels: ['Κάτω', 'Εντάξει'],
        datasets: [{
        data: [{{manufacturer.products_below}}, {{manufacturer.products_ok}}],
        backgroundColor: ['#dc3545', '#28a745'],
        }],
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
    }
});



//top table
var $all_products_table = $('#all-products-table');

$(function() {
    $('#all-products-table_print-dropdown').find('.dropdown-item').on('click', function (e) {
        e.preventDefault();
        selector_btn = document.getElementById('print-selector');
        selector_btn.innerText = e.target.innerText; 
        data = {};
        if (e.target.attributes['area-value'].value == 'selected'){
            data = {
                field: 'state',
                checkbox: true,
                visible: $(this).attr('area-value') === 'selected'
            };
        }
        $all_products_table.bootstrapTable('destroy').bootstrapTable({
            exportDataType: $(this).attr('area-value'),
            exportTypes: ['csv', 'txt', 'excel', 'pdf'],
            columns: [
                data,
            ]
        })
        }).trigger('change')
});

// bottom Table export
var $all_products_prices_table = $('#active-products-table');

$(function() {
    $('#active-products-table_print-dropdown').find('.dropdown-item').on('click', function (e) {
        e.preventDefault();
        selector_btn = document.getElementById('bottom-print-selector');
        selector_btn.innerText = e.target.innerText; 
        data = {};
        if (e.target.attributes['area-value'].value == 'selected'){
            data = {
                field: 'state',
                checkbox: true,
                visible: $(this).attr('area-value') === 'selected'
            };
        }
        $all_products_prices_table.bootstrapTable('destroy').bootstrapTable({
            exportDataType: $(this).attr('area-value'),
            exportTypes: ['csv', 'txt', 'excel', 'pdf'],
            columns: [
                data,
            ]
        })
        }).trigger('change')
});


$(window).on('load', ()=>{
    export_btn_group = $('.export.btn-group');
    exoport_dropdown = export_btn_group.find("[aria-label='Export']");
    exoport_dropdown.parent().css("cursor", "not-allowed");
    exoport_dropdown.each( (index, elements) => {
        $(elements).attr("disabled", "true");
    });
});

</script>

{% endblock %}