{% extends "dashboard_base.html" %}
{% load dashboard_tags %}
{% load static %}
{% load thumbnail %}

{% block title %}
{{product.name}} - {{shop.name}}
{% endblock %}

{% block headEnd %}
<script src="{% static '/map_reporter/js/product-info-data-table.js' %}"></script>
{% comment %} <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-html5-1.5.1/b-print-1.5.1/datatables.min.css"/> {% endcomment %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-html5-1.5.1/b-print-1.5.1/datatables.min.js"></script>
{% endblock %}

{% block main %}
<div class="container-fluid px-4">
    <h3 class="mt-4">{{ product.name }} - {{shop.name}}</h3>

    <div class="row pt-lg-5">
        <div class="col-xl-4">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    Φωτογραφία
                </div>
                <img class="p-3" src="{{product.image.url}}" alt="product.name" width=100%>
            </div>
        </div>

        <div class="col-xl-8">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    Χαρακτηριστικά
                </div>
                <div class="container">
                    <div class="row gx-5 bg-secondary bg-opacity-25">
                        <div class="col-4 g-0">
                            <h5 class="p-sm-2">Ενεργό</h5>
                        </div>
                        <div class="col-8 g-0">
                            <h5 class="p-sm-2">{{ product.is_active }}</h5>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-4 g-0">
                            <h5 class="p-sm-2">Κατασκευαστής</h5>
                        </div>
                        <div class="col-8 g-0">
                            {% comment %} TODO add manufacturer url {% endcomment %}
                            <h5 class="p-sm-2">{{ product.manufacturer }}</h5>
                        </div>
                    </div>
                    <div class="row gx-5 bg-secondary bg-opacity-25">
                        <div class="col-4 g-0">
                            <h5 class="p-sm-2">Μοντέλο</h5>
                        </div>
                        <div class="col-8 g-0">
                            <h5 class="p-sm-2">{{ product.model }}</h5>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-4 g-0">
                            <h5 class="p-sm-2">SKU</h5>
                        </div>
                        <div class="col-8 g-0">
                            <h5 class="p-sm-2">{{ product.sku }}</h5>
                        </div>
                    </div>
                    <div class="row gx-5 bg-secondary bg-opacity-25">
                        <div class="col-4 g-0">
                            <h5 class="p-sm-2">Τιμή MAP</h5>
                        </div>
                        <div class="col-8 g-0">
                            <h5 class="p-sm-2">{{ product.map_price }}</h5>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-4 g-0">
                            <h5 class="p-sm-2">Τιμή Key Account</h5>
                        </div>
                        <div class="col-8 g-0">
                            <h5 class="p-sm-2">{{ product.key_acc_price }}</h5>
                        </div>
                    </div>
                    <div class="row gx-5 bg-secondary bg-opacity-25">
                        <div class="col-4 g-0">
                            <h5 class="p-sm-2">Κατηγορία</h5>
                        </div>
                        <div class="col-8 g-0">
                            <p class="p-sm-2">
                                {% for category in product.main_category.get_family %}
                                    <a class="link-dark fs-5" href="{% url 'category_info' category.id %}">{{category}}</a>
                                    {% if not forloop.last %}
                                        >
                                    {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-4 g-0">
                            <h5 class="p-sm-2">Σελίδες</h5>
                        </div>
                        <div class="col-8 g-0">
                            <div class="row g-0">
                                {% for url in urls %}
                                    <a href="{{ url }}" target="_blank" rel="noopener noreferrer" class="text-truncate mt-2 link-dark">{{ url }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-lg-5">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    Τιμές προϊόντος στο χρόνο
                </div>
                <div class="card-body"><canvas id="MinPriceChart" width="100%" height="40"></canvas></div>
                <div class="card-footer small text-muted">Τελευταία ενημέρωση {{ latest_timestamp }}</div>
            </div>
        </div>

        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-pie me-1"></i>
                    Ανάλυση τιμών καταστήματος
                </div>
                <div class="card-body"><canvas id="myPieChart" width="100%" height="50"></canvas></div>
                <div class="card-footer small text-muted">Τελευταία ενημέρωση {{ latest_timestamp }}</div>
            </div>
        </div>
        
        <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Πίνακας τιμών προϊόντος
        </div>
        <div class="card-body">
            <table id="product_prices_table">
                <thead>
                    <tr>
                        <th class="add_select">Κατάστημα</th>
                        <th>Λ. Τιμή</th>
                        <th>Target Price</th>
                        <th>Diff</th>
                        <th>Diff %</th>
                        <th class="add_select">Επ. Μεταπωλητής</th>
                        <th class="add_select">Πωλητής</th>
                        <th>Ημερομηνία</th>
                    </tr>
                    <tr>
                        <th class="no_filter"></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="no_filter"></th>
                        <th class="no_filter"></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for retailprice in retailprices %}
                    <tr>
                        <td><a href="{% url 'shop_info' retailprice.shop.id %}">{{retailprice.shop}}</a></td>
                        <td>
                            {{retailprice.price}}
                        </td>
                        <td>
                            {{retailprice.curr_target_price}}
                        </td>
                        <td>
                            {% if retailprice.price|sub:retailprice.curr_target_price < 0 %}
                                <p class="text-danger">{{retailprice.price|sub:retailprice.curr_target_price}}</p>
                            {% elif retailprice.price|sub:retailprice.curr_target_price > 0 %}
                                <p class="text-success">{{retailprice.price|sub:retailprice.curr_target_price}}</p>
                            {% else %}
                                <p class="text-black">{{retailprice.price|sub:retailprice.curr_target_price}}</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if retailprice.price|ch_sub:retailprice.curr_target_price < 0 %}
                                <p class="text-danger">{{retailprice.price|ch_sub:retailprice.curr_target_price}}</p>
                            {% elif retailprice.price|sub:retailprice.curr_target_price > 0 %}
                                <p class="text-success">{{retailprice.price|ch_sub:retailprice.curr_target_price}}</p>
                            {% else %}
                                <p class="text-black">{{retailprice.price|ch_sub:retailprice.curr_target_price}}</p>
                            {% endif %}
                        </td>
                        <td>{% if retailprice.official_reseller == False %}
                                <p class="text-danger">Όχι</p>
                            {% else %}
                                <p class="text-success">Ναι</p>
                            {% endif %}
                        </td>
                        <td>Seller</td>
                        <td>{{retailprice.timestamp}}</td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>
<script>
    // Set new default font family and font color to mimic Bootstrap's default styling
    Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#292b2c';

    // Area Chart Data
    timestamps = [];
    prices = [];
    min_price = 0;
    {% for retailprice in retailprices %}
        prices.push(parseFloat({{retailprice.price}}));
        timestamps.push({{retailprice.timestamps}});
    {% endfor %}
    // Area Chart
    var ctx = document.getElementById("MinPriceChart");
    var myLineChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [
            {% for min_retailprice in min_retailprice_list %}
                '{{min_retailprice.timestamp}}',
            {% endfor %}
        ],
        datasets: [{
        label: "Τιμή",
        lineTension: 0.3,
        backgroundColor: "rgba(2,117,216,0.2)",
        borderColor: "rgba(2,117,216,1)",
        pointRadius: 5,
        pointBackgroundColor: "rgba(2,117,216,1)",
        pointBorderColor: "rgba(255,255,255,0.8)",
        pointHoverRadius: 5,
        pointHoverBackgroundColor: "rgba(2,117,216,1)",
        pointHitRadius: 50,
        pointBorderWidth: 2,
        data: [
            {% for min_retailprice in min_retailprice_list %}
                '{{min_retailprice.min_price}}',
            {% endfor %}
        ],
        }],
    },
    options: {
        scales: {
        xAxes: [{
            time: {
            unit: 'date'
            },
            gridLines: {
            display: false
            },
            ticks: {
            maxTicksLimit: 10
            }
        }],
        yAxes: [{
            ticks: {
            min: {{min_retailprice.min_price__min|per_sub:"10"}},
            max: {{max_retailprice.min_price__max|per_add:"10"}},
            maxTicksLimit: 5
            },
            gridLines: {
            color: "rgba(0, 0, 0, .125)",
            }
        }],
        },
        legend: {
        display: false
        }
    }
    });
        
    // Pie Chart Example
    var ctx = document.getElementById("myPieChart");
    var myPieChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ["Κάτω", "Ακριβώς", "Πάνω"],
        datasets: [{
        data: [{{prices_below}}, {{prices_equal}}, {{prices_above}}],
        backgroundColor: ['#dc3545', '#28a745', '#007bff'],
        }],
    },
    });
</script>
{% endblock %}