{% extends "dashboard_base.html" %}
{% load static %}

{% block headEnd %}
    <script src="{% static '/map_reporter/js/shop-page-data-table.js' %}"></script>
    <style>

    label {
        padding: 5px;
    }

    #shops-table_wrapper{
        padding:5px;
    }

    </style>
{% endblock %}


{% block main %}

<h1 class="mb-4">
    {{ shop.name }}
</h1>

<div class="card mb-4">
    <div class="card-header mb-4">
            <i class="fas fa-table me-1 MB-4"></i>
           Προϊόντα του {{ shop.name }}
        </div>
    <table id='shops-table' class=''>
        <thead>
            <tr>
                <th>Προϊόν</th>
                <th>Τιμή MAP</th>
                <th>Τιμή Key Account</th>
                <th>Κατηγορία</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %} 
            <tr>
                <td>
                <a href="{% url 'product_info' product.id %}">{{product}}</a> 
                </td>                
                <td>
                <p>{{product.map_price}} €</p> 
                </td>                
                <td>
                <p>{{product.key_acc_price}} €</p> 
                </td>
                <td>
                <p>{{product.main_category}}</p> 
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}