{% extends "dashboard_base.html" %}
{% load dashboard_tags %}
{% load static %}
{% load thumbnail %}

{% block title %}
{{product.name}} - {{shop.name}}
{% endblock %}

{% block headEnd %}


{% endblock %}

{% block main %}
<div class="container-fluid px-4">
    <h3 class="mt-4">{{ product.name }} - {{shop.name}}</h3>

    <div class="row pt-lg-3">
        <div class="col-xl-4">
            <div class="card mb-4 h-100">
                <div class="card-header">
                    <i class="fas fa-image me-1"></i>
                    Φωτογραφία
                </div>
                <div class="card-body align-items-center d-flex">
                    <img class="p-3" src="{{product.image.url}}" alt="product.name" width=100%>
                </div>
            </div>
        </div>

        <div class="col-xl-8">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-list me-1"></i>
                    Χαρακτηριστικά προϊόντος
                </div>
                <div class="card-body align-items-center d-flex">
                    <div class="container">
                        <div class="row gx-5 bg-secondary bg-opacity-25">
                            <div class="col-4 g-0">
                                <h5 class="p-sm-2">Ενεργό</h5>
                            </div>
                            <div class="col-8 g-0">
                                <h5 class="p-sm-2">{{ product.is_active }}</h5>
                            </div>
                        </div>
                        <div class="row gx-5">
                            <div class="col-4 g-0">
                                <h5 class="p-sm-2">Κατασκευαστής</h5>
                            </div>
                            <div class="col-8 g-0">
                                <p class="ps-2">
                                    <a class="link-dark fs-5" href="{% url 'manufacturer_info' product.manufacturer.id %}">{{product.manufacturer}}</a>
                                </p>
                            </div>
                        </div>
                        <div class="row gx-5 bg-secondary bg-opacity-25">
                            <div class="col-4 g-0">
                                <h5 class="p-sm-2">Μοντέλο</h5>
                            </div>
                            <div class="col-8 g-0">
                                <h5 class="p-sm-2">{{ product.model }}</h5>
                            </div>
                        </div>
                        <div class="row gx-5">
                            <div class="col-4 g-0">
                                <h5 class="p-sm-2">SKU</h5>
                            </div>
                            <div class="col-8 g-0">
                                <h5 class="p-sm-2">{{ product.sku }}</h5>
                            </div>
                        </div>
                        <div class="row gx-5 bg-secondary bg-opacity-25">
                            <div class="col-4 g-0">
                                <h5 class="p-sm-2">Τιμή MAP</h5>
                            </div>
                            <div class="col-8 g-0">
                                <h5 class="p-sm-2">{{ product.map_price }}</h5>
                            </div>
                        </div>
                        <div class="row gx-5">
                            <div class="col-4 g-0">
                                <h5 class="p-sm-2">Κατηγορία</h5>
                            </div>
                            <div class="col-8 g-0">
                                <p class="ps-2">
                                    {% for category in product.main_category.get_family %}
                                        <a class="link-dark fs-5" href="{% url 'category_info' category.id %}">{{category}}</a>
                                        {% if not forloop.last %}
                                            >
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                        <div class="row gx-5 bg-secondary bg-opacity-25">
                            <div class="col-4 g-0">
                                <h5 class="p-sm-2">Σελίδες</h5>
                            </div>
                            <div class="col-8 g-0">
                                <div class="row g-0">
                                    {% for url in urls %}
                                        <a href="{{ url }}" target="_blank" rel="noopener noreferrer" class="text-truncate mt-2 link-dark">{{ url }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class='card-header'>
                    <i class="fa-solid fa-address-card"></i>
                    Στοιχεία επικοινωνίας καταστήματος
                </div>
                <div class="card-body bg-light">
                    <div class="container-fluid">
                        <div class="row gx-5">
                            <div class="col-4 g-0">
                                <h5 class="p-sm-2">Τηλέφωνο: </h5>
                            </div>
                            <div class="col-8 g-0">
                                <h5 class="p-sm-2"><a href="tel:{{shop.phone_number}}" class="link-dark">{{shop.phone_number}}</a></h5>
                            </div>
                        </div>
                        <div class="row gx-5">
                            <div class="col-4 g-0">
                                <h5 class="p-sm-2">Διεύθυνση: </h5>
                            </div>
                            <div class="col-8 g-0">
                                <h5 class="p-sm-2"><a href="https://www.google.com/maps/place/{{shop.address}}" target="blank" class="link-dark">{{shop.address}}</a></h5>
                            </div>
                        </div>
                        <div class="row gx-5">
                            <div class="col-4 g-0">
                                <h5 class="p-sm-2">Πωλητής: </h5>
                            </div>
                            <div class="col-8 g-0">
                                <h5 class="p-sm-2"><a href="mailto:{{shop.seller.email}}" class="link-dark">{{ shop.seller.first_name }} {{shop.seller.last_name}}</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-5">
        <div class="row">
            <form name="date_range" id="date-picker-form" hx-post="/update_date/{{product.id}}" hx-trigger="submit" hx-swap="none" hx-target-error="error_notice">
                <div class="row">
                    <p>Επιλέξτε ημερομηνίες για να εμφανίσετε την πορεία των τιμών του προϊόντος ανάμεσα στις επιλεγμένες ημερομηνίες στα παρακάτω γραφήματα.</p>
                    <div class="col-lg-12">
                        <div class="m-2 d-inline-block">
                            {{date_picker}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button class="btn btn-primary mt-2 ms-3" type="submit" value="Submit" style="width:auto;"><i class="fa-solid fa-paper-plane"></i> Υποβολή</button>
                    <div style="display:none;" class="mt-2 text-danger" id="error_notice"></div> <!-- errors go here -->
                </form>
                </div>
        </div>
    </div>
<div class="row pt-lg-5">
    <div class="col-xl-6">
        <div class="card h-100">
            <div class="card-header">
                <i class="fas fa-chart-area me-1"></i>
                Ελάχιστες τιμές προϊόντος
            </div>
            <div class="card-body align-items-center d-flex" style="height:500px;"><canvas id="MinPriceChart" width="100%" height="40"></canvas></div>
            <div class="card-footer small text-muted">Το παραπάνω αναλυτικό γράφημα απεικονίζει την πορεία των τιμών του προϊόντος στο κατάστημα τις τελευταίες 30 ημέρες. Μέσω του φίλτρου μπορείτε να επιλέξετε συγκεκριμένες ημερομηνίες, ώστε να εμφανιστούν οι τιμές στο συγκεκριμένο διάστημα.</div>
            <div class="latest_timestamp card-footer small text-muted">Τελευταία ενημέρωση {{ latest_timestamp}}</div>
        </div>
    </div>

    <div class="col-xl-6">
        <div class="card h-100">
            <div class="card-header">
                <i class="fas fa-chart-pie me-1"></i>
                Ανάλυση τιμών καταστημάτων
            </div>
            <div class="card-body align-items-center d-flex" style="height:500px;"><canvas id="myPieChart" width="100%" height="50"></canvas></div>
            <div class="card-footer small text-muted">Στο παραπάνω γράφημα απεικονίζεται ο αριθμός των τιμών του προϊόντος στο κατάστημα που οι οποίες είναι κάτω, ίσες με ή πάνω από την τιμή στόχο.</div>
            <div class="latest_timestamp card-footer small text-muted">Τελευταία ενημέρωση {{ latest_timestamp}}</div>
        </div>
    </div>
    
    <div class="card mb-4 mt-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Πίνακας τιμών προϊόντος
    </div>
    <div class="card-body overflow-auto">
        <table id='table_1' class="data-table display">
            <thead>
                <tr class="bg-light">
                    <th class="text-filter">Κατάστημα</th>
                    <th>Τιμή</th>
                    <th>Τιμή MAP</th>
                    <th>Διαφ.</th>
                    <th>Διαφ. %</th>
                    <th class="select-filter">Πηγή</th>
                    <th class="select-filter">Key Account</th>
                    <th class="select-filter">Επ. Μεταπωλ.</th>
                    {% if not seller_flag %}
                        <th class="select-filter">Πωλητής</th>
                    {% endif %}
                    <th>Ημερομηνία</th>
                </tr>
                
                <tr class="bg-light head-filters">
                    <th class="text">Κατάστημα</th>
                    <th class="no-filter">Τιμή</th>
                    <th class="no-filter">Τιμή MAP</th>
                    <th class="no-filter">Διαφ.</th>
                    <th class="no-filter">Διαφ. %</th>
                    <th class="select">Πηγή</th>
                    <th class="select">Key Account</th>
                    <th class="select">Επ. Μεταπωλ.</th>
                    {% if not seller_flag %}
                        <th class="select">Πωλητής</th>
                    {% endif %}
                    <th class="no-filter">Ημερομηνία</th>
                    {% comment %} <th class="date-filter"><div id="reportrange" class="btn btn-secondary"> <span></span> <b class="caret"></b></div></th> {% endcomment %}
                </tr>
            </thead>
            <tbody>
                {% for retail_price in table_retailprices %}
                {% if retail_price.price|sub:retail_price.curr_target_price < 0 %}
                    <tr class="bg-danger" style="--bs-bg-opacity: .1;">
                {% else %}
                    <tr>
                {% endif %}
                    <td><a href="{% url 'shop_info' retail_price.shop.id %}" class="link-dark">{{retail_price.shop}}</a></td>
                    <td>
                        {{retail_price.price}} €
                    </td>
                    <td>
                        {{retail_price.curr_target_price}} €
                    </td>
                    <td>
                        {% if retail_price.price|sub:retail_price.curr_target_price < 0 %}
                            <p class="text-danger">{{retail_price.price|sub:retail_price.curr_target_price}} €</p>
                        {% elif retail_price.price|sub:retail_price.curr_target_price > 0 %}
                            <p class="text-success">{{retail_price.price|sub:retail_price.curr_target_price}} €</p>
                        {% else %}
                            <p class="text-black">{{retail_price.price|sub:retail_price.curr_target_price}} €</p>
                        {% endif %}
                    </td>
                    <td>
                        {% if retail_price.price|ch_sub:retail_price.curr_target_price < 0 %}
                            <p class="text-danger">{{retail_price.price|ch_sub:retail_price.curr_target_price}} %</p>
                        {% elif retail_price.price|sub:retail_price.curr_target_price > 0 %}
                            <p class="text-success">{{retail_price.price|ch_sub:retail_price.curr_target_price}} %</p>
                        {% else %}
                            <p class="text-black">{{retail_price.price|ch_sub:retail_price.curr_target_price}} %</p>
                        {% endif %}
                    </td>
                    <td>
                        {{retail_price.source.domain}}
                    </td>
                    <td>
                        {{retail_price.shop.is_key_account}}
                    </td>
                    <td>
                        {{ retail_price.is_shop_official_reseller }}
                    </td>
                    {% if not seller_flag %}
                        <td>{{ retail_price.shop.seller.last_name }}</td>
                    {% endif %}
                    <td>{{retail_price.timestamp|date:"d/m/Y, H:i"}}</td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>
</div>
</div>
{{common_dates}}
<script>
// Area Chart
var ctx = document.getElementById("MinPriceChart");
var myLineChart = new Chart(ctx, {
type: 'line',
data: {
    labels: [
        {% for min_retailprice in min_retailprice_list %}
            '{{min_retailprice.timestamp|date:"d/m/Y, H:i"}}',
        {% endfor %}
    ],
    datasets: [{
        label: "Τιμή",
        lineTension: 0.3,
        backgroundColor: "rgba(2,117,216,0.2)",
        borderColor: "rgba(2,117,216,1)",
        pointRadius: 5,
        pointBackgroundColor: "rgba(2,117,216,1)",
        pointBorderColor: "rgba(255,255,255,0.8)",
        pointHoverRadius: 5,
        pointHoverBackgroundColor: "rgba(2,117,216,1)",
        pointHitRadius: 50,
        pointBorderWidth: 2,
        data: [
            {% for min_retailprice in min_retailprice_list %}
                '{{min_retailprice.min_price}}',
            {% endfor %}
        ],
    },
    {
        label: "Target Price",
        lineTension: 0.3,
        backgroundColor: "rgba(220,53,69,0.2)",
        borderColor: "rgba(220,53,69,1)",
        pointRadius: 5,
        pointBackgroundColor: "rgba(220,53,69,1)",
        pointBorderColor: "rgba(255,255,255,0.8)",
        pointHoverRadius: 5,
        pointHoverBackgroundColor: "rgba(220,53,69,1)",
        pointHitRadius: 50,
        pointBorderWidth: 2,
        data: [
            {% for min_retailprice in min_retailprice_list %}
                '{{min_retailprice.curr_target_price}}',
            {% endfor %}
        ],
    }],
},
options: {
    responsive: true,
    maintainAspectRatio: false,
    scales: {
    xAxes: {
        time: {
        unit: 'date'
        },
        gridLines: {
        display: false
        },
        ticks: {
        maxTicksLimit: 10
        }
    },
    yAxes: {
        ticks: {
        min: {{min_retailprice.min_price__min|per_sub:"10"}},
        max: {{max_retailprice.min_price__max|per_add:"10"}},
        maxTicksLimit: 5
        },
        gridLines: {
        color: "rgba(0, 0, 0, .125)",
        }
    },
    },
    legend: {
    display: false
    }
}
});


 // We create a random rgb colour ATTENTION!! a value is missing!!!
 var dynamicColors = function() {
    var r = Math.floor(Math.random() * 255);
    var g = Math.floor(Math.random() * 255);
    var b = Math.floor(Math.random() * 255);
    if (r < 240 && g < 240 && b < 240 || (r == 220 && b == 53 && g == 69)){
        dynamicColors();
    }
    return "rgb(" + r + "," + g + "," + b ;
 };
    
// Pie Chart Example
var ctx = document.getElementById("myPieChart");
var myPieChart = new Chart(ctx, {
type: 'pie',
data: {
    labels: ["Κάτω", "Ακριβώς", "Πάνω"],
    datasets: [{
    data: [{{shops_below}}, {{shops_equal}}, {{shops_above}}],
    backgroundColor: ['#dc3545', '#28a745', '#007bff'],
    }],
},
options: {
    responsive: true,
    maintainAspectRatio: false,
}
});
    
    //stop dropdown from closing on click, so we can select multiple shops
    $('body').on('click', function(e){
    dropdown_elem = $('#ShopSelectDropdown');
    target_element = $(e.target);
    if (target_element.hasClass('form-check-label') || target_element.hasClass('form-check') || target_element.hasClass('dropdown-menu show') || target_element.hasClass('dropdown-shop') ){
        e.stopPropagation();
    }
    if (target_element.attr('id') == 'ShopSelectAllCheckbox'){
        checkboxes = $('.form-check-input');
        if (target_element.prop('checked') == true ){
            checkboxes.each(function(i, element){
                $(this).prop('checked', true);
            });
        } 
        else if (target_element.prop('checked') == false ){
            checkboxes.each(function(i, element){
                $(this).prop('checked', false);
            });
        } 
}
});

// What should i do with the response from the server?
document.body.addEventListener('htmx:afterRequest', function (evt) {
    const targetError = evt.target.attributes.getNamedItem('hx-target-error')
    if (evt.detail.failed && targetError) {
        // We got an error
        error_elem = document.getElementById(targetError.value);
        error_elem.innerHTML = "Δεν υπάρχουν τιμές για αυτό το διάστημα και καταστήματα που ζητάτε."
        error_elem.style.display = "block";
    } else {
        // Update the charts
        const my_response_text = evt.detail.xhr.response;
        my_response = JSON.parse(my_response_text);
        new_timestamp = "Τελευταία ενημέρωση " + my_response.date_to;
            $('.latest_timestamp').each(function(i, e){
                $(e).text(new_timestamp);
            });
        new_pie_data = [my_response.shops_below, my_response.shops_equal, my_response.shops_above];
        myPieChart.data.datasets[0].data = new_pie_data;
        myPieChart.update();

        bubble_charts = [];
        for(i=0; i < my_response.shops_list.length; i++){
            this_shop = my_response.shops_list[i];
            bubble_charts.push(
                {
                    type: 'bubble',
                    label: this_shop.name,
                    data: this_shop.prices,
                    backgroundColor: dynamicColors() + ", 1)"
                }
            );
        }

        new_mixed_data = {
            labels: my_response.timestamp_list,
            datasets: [{
                type: 'line',
                label: "Target Price",
                lineTension: 0.3,
                backgroundColor: "rgba(220,53,69,0.2)",
                borderColor: "rgba(220,53,69,1)",
                pointRadius: 5,
                pointBackgroundColor: "rgba(220,53,69,1)",
                pointBorderColor: "rgba(255,255,255,0.8)",
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(220,53,69,1)",
                pointHitRadius: 50,
                pointBorderWidth: 2,
                data: my_response.target_prices,
            },
                ...bubble_charts,
            ],
        };
        myLineChart.data = new_mixed_data;
        myLineChart.update();

        // Update the table
        table_1.destroy();
        table = $('#table_1');
        table.html(my_response.table);
        {% if not seller_flag %}
            date_column_sort = 9;
        {% else%}
            date_column_sort = 8;
        {% endif %}
        config.order = [[date_column_sort, 'desc'], [1, 'asc'],];
        table_1 = $('#table_1').DataTable(config);
        config_the_table();
        table_1.draw();
    }
});

document.body.addEventListener('htmx:beforeRequest', function (evt) {
    const targetError = evt.target.attributes.getNamedItem('hx-target-error')
    if (targetError) {
      document.getElementById(targetError.value).style.display = "none";
    }
  });

// Get all checked items from the dropdown and add them in the request parameters
document.body.addEventListener('htmx:configRequest', function(evt) {
if (evt.target.id == 'date-picker-form'){
    shop_list = {{shop.id}};
    evt.detail.parameters['shops_list'] = shop_list; // add a new parameter into the mix
}});

//TABLE_1 STUFF STARTS
$(document).ready(function() {
//add text input filters to second row in the thead if th has class text, or nothing if class is no-filter
config_the_table = function(){
    $('#table_1 tr.head-filters th').each( function (i) {
        var title = $('#table_1 thead th').eq( $(this).index() ).text();
        if ( $(this).hasClass('text') ){
            $(this).html( '<input type="text" class="form-control" placeholder="'+title+'" data-index="'+i+'" />' );
        } else if ( $(this).hasClass('no-filter')){
            $(this).html('');
        }
    } );

    // Filter event handler
//if table is undefined, refresh the page.
$( table_1.table().container() ).on( 'keyup', 'thead input', function () {
    table_1.column( $(this).data('index') ).search( this.value ).draw();
} );

/*DATERANGEPICKER START*/
/*$(function() {
var start = moment("2022-01-01 12:34:16");
var the_end = '{{daterange_timestamp}}';
var end = moment(the_end);

function cb() {
  $('#reportrange span').html('Επιλέξτε ημερομηνία');
}

$('#reportrange').daterangepicker({
  startDate: moment().subtract(6, 'days'),
  endDate: moment(),
  alwaysShowCalendars: true,
  ranges: {
    'Σήμερα': [moment(), moment()],
    'Χθές': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
    '7 προηγούμενες ημέρες': [moment().subtract(6, 'days'), moment()],
    '30 προηγούμενες ημέρες': [moment().subtract(29, 'days'), moment()],
    'Τρέχων μήνας': [moment().startOf('month'), moment().endOf('month')],
    'Προηγούμενος μήνας': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
  },
  locale:{
      format:"D/M/YYYY",
  },
}, cb);

cb();

});


$('#reportrange').on('apply.daterangepicker', function(ev, picker) {
var start = picker.startDate;
var end = picker.endDate;
date_column = columns - 1;
$('#reportrange span').html(start.format('D/M/YYYY') + ' - ' + end.format('D/M/YYYY'));
$.fn.dataTable.ext.search.push(
    function(settings, data, dataIndex) {
    var min = start;
    var max = end;
    //dynamically find date column(must be the last column of the table)
    var startDate = moment(data[date_column], 'D/M/YYYY');
    
    if (min == null && max == null) {
      return true;
    }
    if (min == null && startDate <= max) {
      return true;
    }
    if (max == null && startDate >= min) {
      return true;
    }
    if (startDate <= max && startDate >= min) {
      return true;
    }
    return false;
  }
);

table_1.draw();
$.fn.dataTable.ext.search.pop();
});*/
} //config the table ends


//initialise data table
/*{% if not seller_flag %}
date_column_sort = 9;
{% else%}
date_column_sort = 8;
{% endif %}*/
config = {
    order: [[1, 'asc'],],
    dom: 'Bfplrtipl',
    info:true,
    searching: true,
    language: {
        search: "Αναζήτηση: ",
        paginate:{
            previous: "&lt;",
            next: "&gt;",
        },
        info: "Σελίδα _PAGE_ από _PAGES_",
        lengthMenu: "Εμφάνιση _MENU_ γραμμών",
        infoFiltered: " - φιλτραρισμένο από _MAX_ γραμμές",
      },
    paging: true,
    responsive: true,
    buttons: [
        {
            // Save as PDF button
            // TODO Check margins, add datetime of export, fix title in pdf, check file name
            extend: 'pdf',
            text: 'PDF',
            className: 'btn btn-secondary',
            orientation: 'landscape',
            pageSize: 'A4',
            exportOptions: {
                format: {
                    body: function ( inner, coldex, rowdex ) {
                      if (inner.length <= 0) return inner;
                      var el = $.parseHTML(inner);
                      var result='';
                      $.each( el, function (index, item) {
                          if (item.nodeName == '#text') {
                              result += item.textContent;
                        }
                        else if (item.nodeName == 'STRONG'){
                            result += item.outerHTML;
                        }
                        else if (item.nodeName == 'A'){
                            result += item.innerHTML;
                        }
                        else {
                            result += item.outerHTML;
                        }
                      });
                      return result;
                    }
                  },
                  modifier: {
                },
            },
            customize: function(doc){
                doc.content[1].table.dontBreakRows = true; 
                doc.pageMargins = [ 1,1,1,1 ];
                doc.styles.tableHeader = {
                    alignment: "center",
                    bold: true,
                    color: "white",
                    fillColor: "#2d4154",
                    fontSize: 8,
                };
                doc.styles.redcelleven = {
                    color: '#dc3545',
                    fillColor: '#fceaec',
                };
                doc.styles.redcellodd = {
                    color: '#dc3545',
                    fillColor: '#e2d2d4',
                };
                doc.styles.redroweven = {
                    fillColor: '#fceaec',
                };
                doc.styles.redrowodd = {
                    fillColor: '#e2d2d4',
                };
                doc.defaultStyle.fontSize = 8;
                for(j = 1; j < doc.content[1].table.body.length; j++){
                    red_row = false;
                    red_cell = false;
                    for(z = 0; z < doc.content[1].table.body[j].length; z++){
                            if(typeof doc.content[1].table.body[j][z].text !== 'undefined' && doc.content[1].table.body[j][z].text != 'undefined'){
                                if(doc.content[1].table.body[j][z].text.includes('text-danger')){
                                    red_row = true;
                                    if(j % 2 == 0){
                                        doc.content[1].table.body[j][z].style = 'redcelleven';
                                    } else {
                                        doc.content[1].table.body[j][z].style = 'redcellodd';
                                    }
                                }
                                let reg = /<\/?.+?\/?>/g;
                                new_value = doc.content[1].table.body[j][z].text.replace(reg, '').trim();
                                doc.content[1].table.body[j][z].text = new_value;
                            }
                    }
                    if(red_row){
                        for(z = 0; z < doc.content[1].table.body[j].length; z++){
                            if(doc.content[1].table.body[j][z].style != 'redcellodd' && doc.content[1].table.body[j][z].style != 'redcelleven' ){
                                if(j % 2 == 0){
                                    doc.content[1].table.body[j][z].style = 'redroweven';
                                }else {
                                    doc.content[1].table.body[j][z].style = 'redrowodd';
                                }
                            }
                        }
                    }
                }
            },
        },
        {
            extend:'excel',
            className: 'btn btn-secondary',
            text:'Excel',
            exportOptions: {
                stripHtml: true,
                },
        }, 
        {
            extend:'csv',
            className: 'btn btn-secondary',
        },
        //customise print button
        {
            extend: 'print',
            text: 'Εκτύπωση',
            className: 'btn btn-secondary',
            orientation: 'landscape',
            exportOptions: {
                stripHtml: false,
                //function to keep images and other html tags
                format: {
                    body: function ( inner, coldex, rowdex ) {
                      if (inner.length <= 0) return inner;
                      var el = $.parseHTML(inner);
                      var result='';
                      $.each( el, function (index, item) {
                        if (item.nodeName == '#text') {
                            if (item.textContent !== 'undefined'){
                                result += item.textContent;
                            } else {
                                result += item.nextSibling.innerText;
                            }
                        }
                        else if (item.nodeName == 'STRONG'){
                            result += item.outerHTML;
                        } 
                        else if (item.nodeName == 'A'){                                       
                            result += item.outerHTML;
                        }
                        else {
                            result += item.innerText;
                        } 
                      });
                      return result;
                    }
                  },
                },
                //customise print output
                //function gives us three params, the window that will be printed, the print button object, and the data_tables api object
                //using jquery we force the document to print background colors, get all the rows that are colored red in the original document(.bg-danger) and pass that color to the rows in the print document, give some styling to the header, and fix some text styling issues. 
            customize: function(window, print_btn_object, api){
                rows = api.rows({search:'applied'}).nodes();
                columns = api.columns({search:'applied'}).nodes();
                cells = api.cells('.danger-text', {search:'applied'});
                $(window.document.body).css('webkit-print-color-adjust', 'exact');
                $(window.document.body).css('print-color-adjust', 'exact');
                table = $(window.document.body).find('table');
                table_head = table.find('thead');
                table_head.css('background-color', '#F8F9FA');
                table_body = table.find('tbody');
                trs = table_body.find('tr');
                tds = table_body.find('td');
                table.find('th').css('white-space', 'nowrap');
                $.each(rows, function(index, item){
                    if (item.classList.contains('bg-danger')){
                        $(trs[index]).css('background-color', '#FCEAEC');
                    }
                    $.each(item.cells, function(indx, td){
                        if (td.classList.contains('danger-text')){
                            $(trs[index].cells[indx]).css('color', '#ff0000');
                        } else if (td.classList.contains('success-text')){
                            $(trs[index].cells[indx]).css('color', '#198754');
                        }
                    });
                });
            },
        },
        {
            extend:'copy',
            className: 'btn btn-secondary',
            text: 'Αντιγραφή',
        },
    ],
    orderCellsTop: true,
    fixedColumns:   true,
    //add select filters where we have select-filter class on the first th row of the thead.
    initComplete: function(){
        this.api()
        .columns('.select-filter')
        .every(function () {
                var column = this;
                var select = $('<select class="form-select"><option value=""></option></select>').appendTo($("#table_1 thead tr:eq(1) th").eq(column.index()).empty()).on('change', function () {
                        var val = $(this).val();
                        column.search(val ? val : '', false, true).draw();
                    });
                column
                    .data()
                    .unique()
                    .sort()
                    .each(function (d, j) {
                        let reg = /<\/?.+?\/?>/g;
                        new_value = d.replace(reg, '').trim();
                        select.append('<option value="' + new_value + '">' + new_value + '</option>');
                    });
            });
        },
};
table_1 = $('#table_1').DataTable(config);
config_the_table();   
} );
//TABLE_1 STUFF ENDS
</script>

{% endblock main %}